In [179]:
import pandas as pd
import numpy as np
import os

In [180]:
survey_2010 = pd.read_csv('Resources/cut_surveys/2010_cut.csv')
survey_2011 = pd.read_csv('Resources/cut_surveys/2011_cut.csv')
survey_2012_0 = pd.read_csv('Resources/cut_surveys/2012_cut_0.csv')
survey_2012_1 = pd.read_csv('Resources/cut_surveys/2012_cut_1.csv')
survey_2012_2 = pd.read_csv('Resources/cut_surveys/2012_cut_2.csv')
survey_2012_3 = pd.read_csv('Resources/cut_surveys/2012_cut_3.csv')
survey_2013 = pd.read_csv('Resources/cut_surveys/2013_cut.csv')
survey_2014 = pd.read_csv('Resources/cut_surveys/2014_cut.csv')
survey_2015 = pd.read_csv('Resources/cut_surveys/2015_cut.csv')
survey_2016 = pd.read_csv('Resources/cut_surveys/2016_cut.csv')
survey_2017 = pd.read_csv('Resources/cut_surveys/2017_cut.csv')
survey_2018_0 = pd.read_csv('Resources/cut_surveys/2018_cut_0.csv')
survey_2018_1 = pd.read_csv('Resources/cut_surveys/2018_cut_1.csv')
survey_2018_2 = pd.read_csv('Resources/cut_surveys/2018_cut_2.csv')
survey_2019_0 = pd.read_csv('Resources/cut_surveys/2019_cut_0.csv')
survey_2019_1 = pd.read_csv('Resources/cut_surveys/2019_cut_1.csv')
survey_2019_2 = pd.read_csv('Resources/cut_surveys/2019_cut_2.csv')
survey_2020_0 = pd.read_csv('Resources/cut_surveys/2020_cut_0.csv')
survey_2020_1 = pd.read_csv('Resources/cut_surveys/2020_cut_1.csv')
survey_2020_2 = pd.read_csv('Resources/cut_surveys/2020_cut_2.csv')
survey_2020_3 = pd.read_csv('Resources/cut_surveys/2020_cut_3.csv')
survey_2020_4 = pd.read_csv('Resources/cut_surveys/2020_cut_4.csv')
survey_2021 = pd.read_csv('Resources/cut_surveys/2021_cut.csv')
survey_2022_0 = pd.read_csv('Resources/cut_surveys/2022_cut_0.csv')
survey_2022_1 = pd.read_csv('Resources/cut_surveys/2022_cut_1.csv')
survey_2022_2 = pd.read_csv('Resources/cut_surveys/2022_cut_2.csv')

survey_2012 = pd.concat([survey_2012_0, survey_2012_1, survey_2012_2, survey_2012_3], ignore_index=True)
survey_2018 = pd.concat([survey_2018_0, survey_2018_1, survey_2018_2], ignore_index=True)
survey_2019 = pd.concat([survey_2019_0, survey_2019_1, survey_2019_2], ignore_index=True)
survey_2020 = pd.concat([survey_2020_0, survey_2020_1, survey_2020_2, survey_2020_3, survey_2020_4], ignore_index=True)
survey_2022 = pd.concat([survey_2022_0, survey_2022_1, survey_2022_2], ignore_index=True)

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:3: DtypeWarning: Columns (12,45) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2012_0 = pd.read_csv('Resources/cut_surveys/2012_cut_0.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2012_2 = pd.read_csv('Resources/cut_surveys/2012_cut_2.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:6: DtypeWarning: Columns (11,12,14,58) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2012_3 = pd.read_csv('Resources/cut_surveys/2012_cut_3.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:15: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2019_0 = pd.read_csv('Resources/cut_surveys/2019_cut_0.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:18: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2020_0 = pd.read_csv('Resources/cut_surveys/2020_cut_0.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:19: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2020_1 = pd.read_csv('Resources/cut_surveys/2020_cut_1.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:20: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2020_2 = pd.read_csv('Resources/cut_surveys/2020_cut_2.csv')
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\4167121639.py:22: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  survey_2020_4 = pd.read_csv('Resources/cut_surveys/2020_cut_4.csv')

In [181]:
def scale_to_1_to_5(column_values):
    """
    Scale a list of values to a range of 1 to 5, handling 0 and NaN values.

    Args:
    column_values (list): A list of numerical values to be scaled.

    Returns:
    list: A new list with scaled values in the range of 1 to 5.
    """
    scaled_values = []  # Create an empty list to store scaled values
    min_value = np.nanmin(column_values)  # Find the minimum value in the input column, ignoring NaN
    max_value = np.nanmax(column_values)  # Find the maximum value in the input column, ignoring NaN

    # Check if all values are NaN, in which case return a list of NaN
    if np.isnan(min_value) and np.isnan(max_value):
        return [np.nan] * len(column_values)

    # Iterate through each value in the input column
    for value in column_values:
        # Check if the value is NaN, and if so, append NaN to the result list
        if np.isnan(value):
            scaled_values.append(np.nan)
        else:
            # Scale the non-NaN value to the range of 1 to 5 using a linear transformation
            scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4
            scaled_values.append(scaled_value)  # Append the scaled value to the result list

    return scaled_values

In [182]:
print(survey_2010.shape)
print(survey_2010.columns.unique())
for col in survey_2010.columns:
    print(col, survey_2010[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 78 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2010['DEIA'] = 0

#Add Circumstantial with sets of zero
survey_2010['circumstantial'] = 0

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2010['DLEAVING'].replace('A', 5, inplace=True)
survey_2010['DLEAVING'].replace('B', 4, inplace=True)
survey_2010['DLEAVING'].replace('C', 3, inplace=True)
survey_2010['DLEAVING'].replace('D', 2, inplace=True)
survey_2010['DLEAVING'].replace('E', 1, inplace=True)


survey_2010['DRETIRE'].replace('A', 1, inplace=True)
survey_2010['DRETIRE'].replace('B', 2, inplace=True)
survey_2010['DRETIRE'].replace('C', 3, inplace=True)
survey_2010['DRETIRE'].replace('D', 4, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']


survey_2010.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2010[my_work_experience_columns] = survey_2010[my_work_experience_columns].apply(pd.to_numeric)
survey_2010[my_work_unit_columns] = survey_2010[my_work_unit_columns].apply(pd.to_numeric)
survey_2010[my_organization_columns] = survey_2010[my_organization_columns].apply(pd.to_numeric)
survey_2010[my_supervisor_columns] = survey_2010[my_supervisor_columns].apply(pd.to_numeric)
survey_2010[leadership_columns] = survey_2010[leadership_columns].apply(pd.to_numeric)
survey_2010[my_satisfaction_columns] = survey_2010[my_satisfaction_columns].apply(pd.to_numeric)
survey_2010[employee_experience_columns] = survey_2010[employee_experience_columns].apply(pd.to_numeric)
survey_2010[negativity_index_columns] = survey_2010[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2010.columns:
    # check if numeric
    if survey_2010[col].dtype == 'int64' or survey_2010[col].dtype == 'float64':
        # scale to 1-5
        survey_2010[col] = scale_to_1_to_5(survey_2010[col])




# Average all of the values in the columns and drop the columns
survey_2010['my_work_experience'] = survey_2010[my_work_experience_columns].mean(axis=1)
survey_2010['my_work_unit'] = survey_2010[my_work_unit_columns].mean(axis=1)
survey_2010['my_organization'] = survey_2010[my_organization_columns].mean(axis=1)
survey_2010['my_supervisor'] = survey_2010[my_supervisor_columns].mean(axis=1)
survey_2010['leadership'] = survey_2010[leadership_columns].mean(axis=1)
survey_2010['my_satisfaction'] = survey_2010[my_satisfaction_columns].mean(axis=1)
survey_2010['employee_experience'] = survey_2010[employee_experience_columns].mean(axis=1)
survey_2010['negativity_index'] = survey_2010[negativity_index_columns].mean(axis=1)

excess_columsn = ['USERID', 'SUBELEM', 'DLOC', 'DSUPER', 'DSEX', 'DMINORITY',
       'DAGEGRP', 'DPAYCAT', 'DFEDTEN', 'DAGYTEN', 'DLEAVING', 'DRETIRE',  'POSTWT']

# Drop all of the columns

survey_2010.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

# convert AGENCY to agency
survey_2010.rename(columns={'AGENCY': 'agency'}, inplace=True)

(51132, 92)
Index(['USERID', 'AGENCY', 'SUBELEM', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7',
       'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47',
       'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57',
       'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67',
       'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77',
       'Q78', 'DLOC', 'DSUPER', 'DSEX', 'DMINORITY', 'DAGEGRP', 'DPAYCAT',
       'DFEDTEN', 'DAGYTEN', 'DLEAVING', 'DRETIRE', 'POSTWT'],
      dtype='object')
USERID [1020079 1020120 1020150 ... 2194393 2194403 2194405]
AGENCY ['AF' 'AR' 'DD' 'NV']
SUBELEM ['AF0B' 'AF0D' 'AF0J' 'AF0M' 'AF0R' 'AF0U' 'AF0V' 'AF1C' 'AF1L' 'AF1M'
 'AF1S' 'AF99' 'AFNG' 'AR99' 'ARAC' 'ARAE' 'ARAS' 'ARAT' 'ARBA' 'ARCE'
 'ARCS' 'ARE1' 'ARFC' 'ARG6' 'ARHR' 'ARJA' 'ARMC' 'ARMM' 'ARNG' 'ARSB'
 'ARSE' 'ARSP' 'ARTA' 'ARTC' 'ARTM' 'DD01' 'DD04' 'DD07' 'DD10' 'DD16'
 'DD21' 'DD27' 'DD34' 'DD35' 'DD60' 'DD63' 'DD99' 'NV11' 'NV12' 'NV14'
 'NV15' 'NV18' 'NV19' 'NV22' 'NV23' 'NV24' 'NV25' 'NV33' 'NV39' 'NV52'
 'NV60' 'NV70' 'NV76' 'NV99']
Q1 [ 3.  4.  5.  2.  1. nan]
Q2 [ 4.  5.  1.  3.  2. nan]
Q3 [ 3.  2.  5.  4.  1. nan]
Q4 [ 3.  5.  4.  2.  1. nan]
Q5 [ 3.  5.  4.  1. nan  2.]
Q6 [ 3.  4.  5.  2.  1. nan]
Q7 [ 3.  5.  4.  1.  2. nan]
Q8 [ 3.  5.  4.  1.  2. nan]
Q9 ['3' '4' '5' '2' '1' 'X' nan]
Q10 ['3' '4' '5' '1' '2' 'X' nan]
Q11 ['2' '4' '5' '3' 'X' '1' nan]
Q12 ['3' '5' '4' nan 'X' '2' '1']
Q13 ['3' '4' '5' nan 'X' '1' '2']
Q14 ['2' '4' '5' '3' '1' 'X' nan]
Q15 ['2' '4' '5' '3' nan 'X' '1']
Q16 ['3' '4' '5' '1' 'X' '2' nan]
Q17 ['3' '5' '4' 'X' '1' '2' nan]
Q18 ['3' '4' '5' '2' '1' 'X' nan]
Q19 ['3' '4' '5' '2' 'X' '1' nan]
Q20 [ 3.  5.  4.  1.  2. nan]
Q21 ['3' '1' '2' '4' 'X' '5' nan]
Q22 ['3' '2' '4' 'X' '1' '5' nan]
Q23 ['3' '1' 'X' '4' '2' '5' nan]
Q24 ['3' '2' '4' '1' '5' 'X' nan]
Q25 ['3' '4' '2' '1' '5' 'X' nan]
Q26 ['3' '4' '5' '2' '1' nan 'X']
Q27 ['3' '2' '4' 'X' '1' '5' nan]
Q28 [ 4.  3.  5.  2. nan  1.]
Q29 [nan '4' '3' '2' '5' '1' 'X']
Q30 [nan '2' '3' '4' '5' '1' 'X']
Q31 [nan '2' '3' '1' '5' '4' 'X']
Q32 [nan '2' '3' '5' '1' '4' 'X']
Q33 [nan '3' '4' '2' '1' '5' 'X']
Q34 [nan 'X' '4' '3' '1' '5' '2']
Q35 [nan '3' '4' '5' '2' '1' 'X']
Q36 [nan '4' '5' '3' '2' '1' 'X']
Q37 [nan '2' 'X' '4' '3' '1' '5']
Q38 [nan 'X' '5' '2' '3' '1' '4']
Q39 [nan '4' '5' '3' '2' 'X' '1']
Q40 [nan  4.  3.  5.  2.  1.]
Q41 [nan 'X' '3' '4' '1' '2' '5']
Q42 [nan '4' '5' '3' '2' '1' 'X']
Q43 [nan '4' '3' '2' '5' '1' 'X']
Q44 [nan '4' '2' '3' '5' 'X' '1']
Q45 [nan 'X' '4' '2' '3' '5' '1']
Q46 [nan '3' '2' '4' '5' '1' 'X']
Q47 [nan '4' '2' '3' '5' 'X' '1']
Q48 [nan  4.  3.  2.  5.  1.]
Q49 [nan  4.  3.  5.  1.  2.]
Q50 [nan  4.  2.  3.  5.  1.]
Q51 [nan  4.  2.  3.  5.  1.]
Q52 [nan  4.  2.  3.  5.  1.]
Q53 [nan '3' '2' '5' '4' '1' 'X']
Q54 [nan 'X' '4' '2' '5' '3' '1']
Q55 [nan 'X' '3' '2' '5' '4' '1']
Q56 [nan '4' '2' '5' '3' '1' 'X']
Q57 [nan '4' '3' '2' '5' 'X' '1']
Q58 [nan '4' '2' '5' 'X' '3' '1']
Q59 [nan 'X' '4' '2' '5' '1' '3']
Q60 [nan 'X' '3' '2' '5' '1' '4']
Q61 [nan '3' '4' '2' '5' '1' 'X']
Q62 [nan '3' '2' '5' 'X' '1' '4']
Q63 [nan  2.  4.  3.  5.  1.]
Q64 [nan  2.  3.  5.  4.  1.]
Q65 [nan  3.  2.  5.  4.  1.]
Q66 [nan  3.  2.  5.  4.  1.]
Q67 [nan  3.  2.  5.  1.  4.]
Q68 [nan  4.  3.  5.  2.  1.]
Q69 [nan  4.  3.  5.  2.  1.]
Q70 [nan  2.  3.  5.  4.  1.]
Q71 [nan  4.  3.  5.  2.  1.]
Q72 [nan  5.  3.  6.  4.  2.  1.]
Q73 [nan 'X' '3' '1' '2' '5' '4']
Q74 [nan '4' '5' 'X' '3' '1' '2']
Q75 [nan '4' 'X' '3' '5' '2' '1']
Q76 [nan 'X' '3' '4' '5' '1' '2']
Q77 [nan 'X' '3' '2' '4' '5' '1']
Q78 [nan 'X' '3' '4' '5' '2' '1']
DLOC [nan 'B' 'A']
DSUPER [nan 'A' 'C' 'B']
DSEX [nan 'A' 'B']
DMINORITY [nan  1.  2.]
DAGEGRP [nan 'E' 'D' 'C' 'F' 'B']
DPAYCAT [nan 'B' 'C' 'D' 'A']
DFEDTEN [nan 'C' 'A' 'B' 'G' 'D' 'F' 'E']
DAGYTEN [nan 'C' 'F' 'A' 'B' 'E' 'D']
DLEAVING [nan 'C' 'E' 'A' 'B' 'D']
DRETIRE [nan 'D' 'B' 'A' 'C']
POSTWT [3.45156968 4.62150731 2.97805302 ... 1.78997406 2.09576047 2.12293928]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

In [183]:
print(survey_2010.shape)
print(survey_2010.columns.unique())
for col in survey_2010.columns:
    print(col, survey_2010[col].unique())

(51132, 11)
Index(['agency', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')
agency ['AF' 'AR' 'DD' 'NV']
DEIA [nan]
circumstantial [nan]
my_work_experience [2.89473684 4.05263158 3.52631579 5.         3.68421053 3.73684211
 2.83333333 4.78947368 3.38888889 3.23529412 3.         3.84210526
 3.10526316 2.72222222 1.         4.10526316 2.73684211 4.21052632
 3.26315789 3.89473684 3.88888889 4.         4.73684211 3.94736842
 1.78947368 4.52631579 2.78947368 3.78947368 3.76470588 4.42105263
 4.05882353 3.57894737 4.47368421 4.94736842 4.31578947 4.68421053
 3.15789474 2.68421053 3.42105263 4.57894737 3.31578947 2.
 4.84210526 4.15789474 2.77777778 4.63157895 3.36842105 4.89473684
 3.72222222 2.52631579 3.94444444 3.63157895 3.35294118 4.26315789
 4.77777778 4.36842105 3.11111111 3.82352941 3.47368421 3.17647059
 2.57894737 4.38888889 2.31578947 3.22222222 2.26315789 2.84210526
 3.58823529 2.42105263 3.21052632 2.36842105 4.70588235 1.21052632
 4.44444444 4.05555556 2.05555556 2.94736842 3.44444444 3.77777778
 3.05263158 2.76470588 2.63157895 4.16666667 1.57894737 4.61111111
 2.47368421 2.21052632 2.94444444 2.41666667 4.11111111 4.52941176
 2.38888889 3.27777778 4.83333333 3.61111111 3.5        4.22222222
 4.55555556 3.66666667 3.55555556 2.16666667 2.27777778 4.27777778
 3.6        4.8125     2.11111111 3.125      4.58823529 3.05555556
 4.76470588 4.5        3.94117647 2.88888889 4.29411765 4.72222222
 1.94444444 3.05882353 1.89473684 3.83333333 2.47058824 1.94117647
 3.16666667 4.94444444 3.33333333 3.42857143 2.29411765 1.84210526
 2.54545455 1.47368421 3.64705882 2.52941176 1.58823529 3.9375
 4.625      4.33333333 4.41176471 4.26666667 3.875             nan
 3.93333333 2.55555556 3.4375     2.33333333 2.41176471 3.0625
 3.52941176 4.66666667 3.70588235 1.31578947 2.44444444 4.35294118
 2.61111111 1.5        3.625      3.4        2.10526316 2.57142857
 3.11764706 2.6        3.8        4.875      2.5        2.4
 2.05263158 2.70588235 2.82352941 4.64705882 1.36842105 2.22222222
 3.29411765 2.94117647 1.63157895 2.64705882 1.94736842 1.66666667
 2.26666667 4.88888889 2.66666667 3.1875     4.23529412 1.82352941
 4.21428571 3.88235294 3.6875     2.75       4.46666667 4.0625
 2.17647059 3.375      2.88235294 1.55555556 2.15789474 4.375
 3.53333333 2.9375     3.47058824 1.52631579 4.88235294 3.73333333
 2.4375     2.36363636 3.36363636 2.25       1.70588235 3.41176471
 2.5625     2.875      2.92857143 3.25       2.8        1.91666667
 1.33333333 4.82352941 4.25       3.78571429 1.61111111 2.85714286
 1.73684211 1.88888889 2.11764706 4.11764706 1.625      2.86666667
 3.13333333 4.17647059 2.72727273 3.75       2.0625     4.1875
 2.23529412 3.86666667 1.15789474 1.88235294 4.75       4.4
 1.72222222 3.8125     2.14285714 3.64285714 3.26666667 3.2
 2.6875     2.8125     2.23076923 4.125      4.42857143 3.5625
 4.14285714 4.94117647 4.90909091 1.68421053 3.30769231 3.06666667
 4.53333333 3.63636364 1.83333333 2.30769231 3.72727273 4.6
 2.625      1.10526316 3.90909091 3.71428571 3.3125     2.35294118
 1.42105263 2.58823529 4.47058824 1.26315789 2.18181818 4.3125
 3.91666667 4.06666667 3.09090909 4.45454545 4.6875     2.21428571
 2.35714286 4.86666667 1.78571429 3.14285714 2.28571429 3.3
 1.73333333 4.4375     2.73333333 3.15384615 3.53846154 4.5625
 3.46666667 2.38461538 3.07692308 4.23076923 1.77777778 1.86666667
 1.47058824 2.93333333 2.3125     4.73333333 4.36363636 2.71428571
 1.8        3.85714286 2.78571429 2.05882353 3.57142857 3.92307692
 1.52941176 4.93333333 2.1875     1.22222222 2.375      4.9375
 4.8        4.54545455 4.35714286 2.91666667 3.9        2.84615385
 2.76923077 4.13333333 2.92307692 4.46153846 2.06666667 3.21428571
 1.81818182 2.27272727 2.45454545 1.4       ]
my_work_unit [3.11111111 2.55555556 3.         4.22222222 3.44444444 3.22222222
 2.71428571 4.11111111 2.125      2.88888889 2.44444444 3.66666667
 1.66666667 3.88888889 4.25       2.8        2.33333333 3.16666667
 1.88888889 2.11111111 3.33333333 3.375      2.22222222 5.
 3.77777778 1.33333333 4.88888889 4.66666667 1.44444444 4.
 1.22222222 4.33333333 2.         4.55555556 3.2        1.77777778
        nan 1.4        4.77777778 4.44444444 3.625      4.125
 3.55555556 1.55555556 3.83333333 2.77777778 2.625      3.8
 2.66666667 3.25       3.28571429 3.125      1.         1.57142857
 2.875      2.5        3.75       3.85714286 1.11111111 4.875
 1.5        4.5        3.14285714 1.42857143 4.625      3.5
 3.71428571 2.42857143 3.875      4.75       4.14285714 2.25
 3.4        2.75       2.375      1.875      3.42857143 2.85714286
 1.125      4.4        2.28571429 4.16666667 4.375      1.75
 4.2        3.6        1.25       1.28571429 2.57142857 2.4
 1.85714286 2.83333333 4.28571429 3.57142857 4.71428571 1.83333333
 4.42857143 2.14285714 1.375      1.625      4.83333333 2.6
 4.57142857 4.6        4.8        1.71428571 2.16666667 1.16666667
 1.14285714 1.6        1.8        2.2        4.85714286]
my_organization [       nan 3.         3.2        4.07692308 2.69230769 2.41666667
 2.08333333 3.38461538 2.76923077 4.84615385 3.42857143 3.61538462
 2.61538462 3.83333333 3.76923077 3.30769231 4.         4.23076923
 3.46153846 5.         1.38461538 3.25       2.92307692 4.76923077
 2.         3.69230769 2.84615385 3.15384615 3.92307692 4.53846154
 4.46153846 2.46153846 2.55555556 4.92307692 3.23076923 3.53846154
 3.84615385 3.66666667 2.15384615 2.30769231 2.38461538 2.54545455
 4.91666667 4.38461538 3.16666667 2.1        3.9        3.91666667
 4.61538462 4.41666667 1.69230769 4.15384615 3.07692308 4.5
 2.2        4.63636364 4.30769231 1.07692308 3.72727273 1.84615385
 2.72727273 3.33333333 3.54545455 3.90909091 3.81818182 2.75
 2.25       4.75       4.08333333 3.09090909 2.88888889 2.83333333
 4.7        3.5        4.16666667 1.16666667 3.75       4.69230769
 3.08333333 4.22222222 2.63636364 3.875      4.33333333 2.5
 2.66666667 1.41666667 2.81818182 3.77777778 3.57142857 3.41666667
 1.25       2.23076923 2.33333333 1.53846154 3.625      2.57142857
 2.91666667 2.53846154 4.66666667 3.27272727 2.18181818 2.90909091
 2.6        3.55555556 1.61538462 4.1        3.63636364 4.09090909
 4.25       3.22222222 2.625      1.91666667 3.1        1.8
 1.6        4.2        3.45454545 3.18181818 3.7        2.07692308
 1.33333333 2.58333333 3.8        3.58333333 4.18181818 4.4
 2.27272727 1.08333333 1.         2.16666667 1.5        2.9
 4.9        4.3        4.83333333 1.75       2.4        1.46153846
 4.36363636 3.3        1.76923077 3.36363636 2.45454545 4.27272727
 1.15384615 4.58333333 1.92307692 1.58333333 4.125      2.36363636
 1.83333333 1.4        2.8        3.11111111 2.09090909 3.14285714
 2.11111111 1.44444444 1.30769231 3.88888889 3.71428571 1.72727273
 1.9        1.81818182 4.45454545 1.71428571 2.77777778 1.90909091
 4.77777778 4.44444444 1.88888889 3.6        4.14285714 2.71428571
 3.44444444 4.72727273 3.4        4.6        4.90909091 2.7
 2.22222222 4.81818182 1.66666667 1.2        2.3        3.375
 4.71428571 2.14285714 4.11111111 4.54545455 2.875      1.55555556
 4.55555556 1.23076923 2.375      3.125      4.375      3.85714286
 3.28571429 4.625      1.54545455 2.44444444 4.57142857 2.125
 4.28571429 1.7        1.63636364 2.85714286 4.8        1.36363636
 1.45454545 1.875      4.88888889 2.42857143 1.14285714 1.09090909
 1.85714286 1.27272727 4.42857143 1.18181818 1.77777778 1.625
 1.42857143]
my_supervisor [       nan 3.9        4.         2.36363636 3.         2.90909091
 2.63636364 5.         2.         4.36363636 3.36363636 3.45454545
 4.7        3.72727273 4.72727273 2.45454545 4.5        2.81818182
 3.81818182 4.90909091 2.18181818 2.6        3.18181818 1.54545455
 1.90909091 4.45454545 4.6        4.09090909 4.1        4.81818182
 2.9        3.27272727 2.72727273 1.36363636 3.90909091 1.72727273
 1.81818182 3.63636364 2.5        4.18181818 4.63636364 4.8
 4.54545455 3.54545455 3.09090909 2.54545455 4.27272727 1.45454545
 1.18181818 3.3        3.2        1.         2.27272727 1.44444444
 3.55555556 4.42857143 1.9        3.125      2.09090909 4.9
 3.44444444 1.27272727 1.09090909 1.5        2.42857143 4.4
 1.63636364 3.5        1.6        2.7        3.7        4.88888889
 3.6        3.1        4.3        3.4        1.33333333 2.11111111
 3.375      1.3        4.2        2.1        3.8        1.71428571
 1.4        2.4        2.8        2.75       2.88888889 4.11111111
 2.66666667 3.85714286 3.11111111 2.2        1.8        2.3
 1.85714286 4.375      1.88888889 3.71428571 3.66666667 1.1
 2.16666667 2.44444444 3.77777778 1.22222222 3.22222222 1.55555556
 2.55555556 3.33333333 3.88888889 4.25       3.75       4.71428571
 1.66666667 4.77777778 2.14285714 4.55555556 3.25       2.25
 2.22222222 1.875      2.28571429 4.14285714 2.125      2.875
 2.625      4.22222222 1.2        4.33333333 1.7        1.625
 2.33333333 1.77777778 4.625      3.875      4.28571429 3.14285714
 3.42857143 3.28571429 3.83333333 2.83333333 2.77777778 4.83333333
 4.44444444 4.125      4.66666667 2.85714286 2.57142857 1.42857143
 2.375      3.57142857 3.625      1.57142857 1.75       1.28571429
 3.16666667 1.25       1.375      1.11111111]
leadership [       nan 3.5        2.         5.         3.71428571 3.11111111
 3.7        4.         3.2        3.6        1.44444444 4.7
 4.77777778 4.2        3.4        1.2        2.1        1.4
 2.77777778 4.9        3.1        1.1        1.9        3.8
 3.9        1.7        4.8        4.5        3.         2.7
 3.88888889 3.22222222 4.1        2.8        2.6        3.44444444
 4.3        4.88888889 2.9        1.         2.4        3.3
 3.66666667 4.4        1.8        2.3        2.44444444 1.3
 2.2        1.6        4.6        3.77777778 1.5        3.125
 2.55555556 3.55555556 2.75       2.625      3.625      3.42857143
 4.33333333 2.5        4.55555556 3.875      2.375      2.16666667
 1.66666667 4.66666667 4.22222222 2.42857143 2.125      2.11111111
 2.22222222 3.33333333 4.125      2.85714286 1.77777778 2.875
 2.33333333 2.25       2.88888889 3.16666667 4.11111111 2.28571429
 2.83333333 1.55555556 3.375      1.375      1.11111111 1.22222222
 4.625      3.14285714 3.25       1.125      3.28571429 3.75
 2.66666667 2.57142857 1.88888889 1.83333333 4.85714286 4.75
 4.42857143 1.42857143 3.83333333 4.14285714 3.85714286 1.85714286
 2.71428571 3.57142857 1.33333333 1.28571429 1.625      4.16666667
 4.44444444 4.375      2.14285714 1.57142857 4.875      1.71428571
 4.25       1.75       1.875      4.71428571 1.14285714 4.57142857
 1.25       4.28571429 4.83333333 1.16666667]
my_satisfaction [       nan 3.         2.66666667 5.         3.44444444 3.55555556
 1.77777778 3.77777778 2.55555556 3.66666667 2.77777778 2.44444444
 2.11111111 1.55555556 3.33333333 3.22222222 4.875      4.66666667
 4.         2.88888889 3.11111111 1.22222222 3.88888889 4.11111111
 4.55555556 4.22222222 4.77777778 2.22222222 2.33333333 4.88888889
 4.33333333 4.44444444 1.44444444 2.         1.         1.11111111
 1.66666667 1.33333333 3.625      3.57142857 1.88888889 2.625
 2.42857143 2.25       3.875      4.75       3.75       4.25
 4.375      2.75       3.375      2.875      3.125      4.5
 4.625      3.5        3.25       2.5        2.375      1.75
 2.125      3.42857143 1.25       4.57142857 4.16666667 3.2
 4.125      3.28571429 2.14285714 4.28571429 3.85714286 3.71428571
 4.14285714 1.875      2.71428571 1.14285714 3.16666667 1.625
 3.14285714 2.85714286 1.125      3.83333333 1.71428571 2.57142857]
employee_experience [       nan 4.06666667 3.43333333 4.2        3.17142857 3.12
 2.53333333 4.5        2.6        3.05714286 3.31428571 3.53333333
 3.4        3.9        2.68571429 5.         2.06666667 3.03333333
 4.66666667 3.2        3.85714286 3.6        4.05       3.68571429
 3.32       4.6        2.62857143 4.4        3.37142857 3.72
 3.22857143 3.7        3.36666667 3.36       3.55       4.
 3.3        4.68       4.8        2.94285714 3.1        2.88571429
 3.84       3.54285714 3.57142857 4.33333333 4.14285714 2.51428571
 2.32       3.92       3.13333333 3.91428571 4.25       3.73333333
 2.86666667 3.48       3.86666667 1.53333333 3.45714286 3.65
 3.51428571 1.86666667 3.28571429 4.73333333 3.02857143 3.77142857
 3.2        4.02857143 2.65       2.91428571 3.42857143 4.36666667
 4.52       3.04       2.2        4.3        3.11428571 1.88571429
 2.9        4.1        4.15       1.8        2.4        2.36666667
 3.06666667 3.64       3.5        3.8        4.13333333 2.65714286
 4.75       3.15       2.84       3.8        2.5        3.65714286
 3.52       3.33333333 3.48571429 2.8        2.96666667 3.44
 2.73333333 2.3        4.4        3.62857143 3.56       3.71428571
 2.04       2.85       3.05       2.52       2.         3.
 3.46666667 2.66666667 3.26666667 4.36       2.95       2.92
 4.6        2.57142857 2.77142857 1.85       2.68       4.08571429
 3.08       4.31428571 2.97142857 2.96       4.44       3.94285714
 1.2        2.71428571 2.76       2.82857143 3.08571429 2.56666667
 2.7        2.8        3.25       1.         1.43333333 3.66666667
 3.76666667 1.7        2.11428571 2.44       2.85714286 3.28
 2.88       3.75       2.55       3.63333333 3.24       3.14285714
 4.46666667 2.16       3.93333333 2.2        3.34285714 2.31428571
 1.4        1.34285714 2.02857143 1.76       2.43333333 2.74285714
 2.7        1.26666667 4.03333333 2.24       3.82857143 4.12
 3.16666667 1.83333333 2.17142857 3.74285714 4.11428571 2.93333333
 1.48       2.64       2.48571429 3.45       2.72       4.42857143
 2.45714286 3.88571429 4.37142857 4.53333333 1.5        2.42857143
 4.83333333 4.16666667 2.76666667 2.28571429 4.26666667 3.95
 1.96       4.35       4.04       2.12       3.88       2.14285714
 3.96       4.51428571 4.77142857 4.17142857 1.6        3.25714286
 2.22857143 4.48       4.45714286 4.22857143 2.83333333 1.3
 2.08571429 2.1        2.33333333 3.7        4.28       3.35
 3.56666667 2.13333333 2.63333333 1.51428571 1.32       4.25714286
 1.93333333 4.43333333 1.72       2.15       3.97142857 2.37142857
 2.75       2.56       2.26666667 2.35       4.55       3.85
 2.45       2.36       2.25714286 3.68       4.48571429 3.76
 2.03333333 1.74285714 3.3        1.9        4.65714286 4.05714286
 4.24       4.16       1.91428571 4.64       1.6        2.54285714
 1.45714286 2.23333333 3.16       1.52       3.23333333 2.05
 4.28571429 1.57142857 4.32       1.25       4.23333333 3.83333333
 4.57142857 2.46666667 1.75       1.66666667 1.95       4.84
 1.97142857 1.64       1.22857143 4.54285714 1.42857143 1.76666667
 4.34285714 4.86666667 1.77142857 1.94285714 1.65       4.08
 4.7        4.85714286 2.16666667 1.84       2.48       1.16
 2.05714286 4.71428571 1.36       1.62857143 1.4        1.92
 4.88571429 1.54285714 1.96666667 4.1        4.74285714 2.28
 1.73333333 2.25       1.65714286 2.08       2.3        3.96666667
 1.46666667 1.37142857 1.33333333 2.34285714 1.25714286 1.88
 1.85714286 1.71428571 1.82857143 1.68571429 1.11428571 1.45
 1.13333333 1.9        1.28571429 4.62857143 1.56       1.16666667
 1.56666667]
negativity_index [       nan 4.         3.         5.         3.66666667 2.5
 4.33333333 3.16666667 2.         3.33333333 3.5        2.33333333
 3.83333333 1.66666667 2.66666667 4.5        1.         2.16666667
 1.5        2.83333333]

In [184]:
print(survey_2011.shape)
print(survey_2011.columns.unique())
for col in survey_2011.columns:
    print(col, survey_2011[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']

# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 84 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
                                'Q80', 'Q81', 'Q82', 'Q83', 'Q84']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2011['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2011['circumstantial'] = 0
#Add DLEAVING/DRETIRE and drop all other demographics
survey_2011['DLEAVING'].replace('A', 5, inplace=True)
survey_2011['DLEAVING'].replace('B', 4, inplace=True)
survey_2011['DLEAVING'].replace('C', 3, inplace=True)
survey_2011['DLEAVING'].replace('D', 2, inplace=True)
survey_2011['DLEAVING'].replace('E', 1, inplace=True)

survey_2011['DRETIRE'].replace('A', 1, inplace=True)
survey_2011['DRETIRE'].replace('B', 2, inplace=True)
survey_2011['DRETIRE'].replace('C', 3, inplace=True)
survey_2011['DRETIRE'].replace('D', 4, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']


survey_2011.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2011[my_work_experience_columns] = survey_2011[my_work_experience_columns].apply(pd.to_numeric)
survey_2011[my_work_unit_columns] = survey_2011[my_work_unit_columns].apply(pd.to_numeric)
survey_2011[my_organization_columns] = survey_2011[my_organization_columns].apply(pd.to_numeric)
survey_2011[my_supervisor_columns] = survey_2011[my_supervisor_columns].apply(pd.to_numeric)
survey_2011[leadership_columns] = survey_2011[leadership_columns].apply(pd.to_numeric)
survey_2011[my_satisfaction_columns] = survey_2011[my_satisfaction_columns].apply(pd.to_numeric)
survey_2011[employee_experience_columns] = survey_2011[employee_experience_columns].apply(pd.to_numeric)
survey_2011[negativity_index_columns] = survey_2011[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2011.columns:
    # check if numeric
    if survey_2011[col].dtype == 'int64' or survey_2011[col].dtype == 'float64':
        # scale to 1-5
        survey_2011[col] = scale_to_1_to_5(survey_2011[col])

# Average all of the values in the columns and drop the columns
survey_2011['my_work_experience'] = survey_2011[my_work_experience_columns].mean(axis=1)
survey_2011['my_work_unit'] = survey_2011[my_work_unit_columns].mean(axis=1)
survey_2011['my_organization'] = survey_2011[my_organization_columns].mean(axis=1)
survey_2011['my_supervisor'] = survey_2011[my_supervisor_columns].mean(axis=1)
survey_2011['leadership'] = survey_2011[leadership_columns].mean(axis=1)
survey_2011['my_satisfaction'] = survey_2011[my_satisfaction_columns].mean(axis=1)
survey_2011['employee_experience'] = survey_2011[employee_experience_columns].mean(axis=1)
survey_2011['negativity_index'] = survey_2011[negativity_index_columns].mean(axis=1)

excess_columsn = ['USERID', 'SUBELEM', 'DLOC', 'DSUPER', 'DSEX', 'DMINORITY',
       'DAGEGRP', 'DPAYCAT', 'DFEDTEN', 'DAGYTEN', 'DLEAVING', 'DRETIRE',  'POSTWT']

# Drop all of the columns
survey_2011.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

# convert AGENCY to agency
survey_2011.rename(columns={'AGENCY': 'agency'}, inplace=True)

(48945, 98)
Index(['USERID', 'AGENCY', 'SUBELEM', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7',
       'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47',
       'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57',
       'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67',
       'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77',
       'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'DLOC', 'DSUPER',
       'DSEX', 'DMINORITY', 'DAGEGRP', 'DPAYCAT', 'DFEDTEN', 'DAGYTEN',
       'DLEAVING', 'DRETIRE', 'POSTWT'],
      dtype='object')
USERID [732817004196442 493259582397750 243747218620865 ... 456409693703827
 137556206678837 257988676821054]
AGENCY ['AF' 'AR' 'DD' 'NV']
SUBELEM ['AFGS' 'AFNG' 'AF99' 'AF0B' 'AF0D' 'AF0J' 'AF0M' 'AF0R' 'AF0U' 'AF0V'
 'AF1C' 'AF1L' 'AF1M' 'AF1S' 'AF1Y' 'ARTA' 'ARAE' 'ARTM' 'ARAS' 'ARAT'
 'ARBA' 'AR99' 'ARCS' 'ARE1' 'ARFC' 'ARG6' 'ARHR' 'ARJA' 'ARMC' 'ARNG'
 'ARSB' 'ARSE' 'ARSP' 'ARTC' 'ARMM' 'ARAC' 'ARCE' 'DD01' 'DD99' 'DD04'
 'DD07' 'DD10' 'DD16' 'DD21' 'DD26' 'DD27' 'DD34' 'DD35' 'DD60' 'DD63'
 'NV11' 'NV12' 'NV14' 'NV15' 'NV18' 'NV19' 'NV22' 'NV23' 'NV24' 'NV25'
 'NVMR' 'NV99' 'NV33' 'NV39' 'NV52' 'NV60' 'NV70' 'NV76']
Q1 [ 2.  5.  4.  3.  1. nan]
Q2 [ 4.  5.  3.  2.  1. nan]
Q3 [ 2. nan  5.  3.  4.  1.]
Q4 [ 2.  5.  4.  3.  1. nan]
Q5 [ 3.  5.  4.  2.  1. nan]
Q6 [ 4.  5.  3.  2. nan  1.]
Q7 [ 4.  5.  3.  2. nan  1.]
Q8 [ 3.  5.  4.  2. nan  1.]
Q9 ['4' '5' '1' '3' '2' 'X' nan]
Q10 ['3' '4' '1' '5' '2' 'X' nan]
Q11 ['4' '5' '2' '3' '1' 'X' nan]
Q12 ['4' '5' 'X' '2' '3' '1' nan]
Q13 ['4' '5' '3' '1' '2' nan 'X']
Q14 ['2' '5' '4' '3' '1' 'X' nan]
Q15 ['3' '5' '4' 'X' '2' '1' nan]
Q16 ['3' '5' '4' 'X' '2' '1' nan]
Q17 ['4' '5' '1' 'X' '3' '2' nan]
Q18 ['2' '5' '3' '4' 'X' '1' nan]
Q19 ['3' '5' '2' '4' 'X' '1' nan]
Q20 [nan  5.  4.  2.  3.  1.]
Q21 ['1' '4' '3' '2' '5' 'X' nan]
Q22 ['2' '5' '4' '1' '3' 'X' nan]
Q23 ['2' '5' '3' '4' 'X' '1' nan]
Q24 ['2' '5' '3' '1' '4' 'X' nan]
Q25 ['3' '5' '4' '1' '2' 'X' nan]
Q26 ['2' '5' '4' '3' '1' 'X' nan]
Q27 ['1' nan '3' '5' 'X' '4' '2']
Q28 [ 3.  5.  4.  2. nan  1.]
Q29 ['2' '4' '5' '3' nan 'X' '1']
Q30 ['2' '5' '4' '3' '1' nan 'X']
Q31 ['3' '5' '4' '2' '1' nan 'X']
Q32 ['2' '5' '4' '3' '1' 'X' nan]
Q33 ['2' '4' '1' '5' 'X' '3' nan]
Q34 ['2' '5' '4' '3' '1' 'X' nan]
Q35 ['3' '5' '4' '2' nan 'X' '1']
Q36 ['3' '5' '4' '2' nan '1' 'X']
Q37 ['4' '5' '3' '1' 'X' '2' nan]
Q38 ['4' '5' '3' '1' 'X' '2' nan]
Q39 ['4' '5' '3' '2' nan '1' 'X']
Q40 [ 2.  5.  4.  3. nan  1.]
Q41 ['1' '5' '3' 'X' '4' '2' nan]
Q42 ['4' '5' '2' '3' 'X' nan '1']
Q43 ['4' '5' '3' 'X' '2' '1' nan]
Q44 ['2' '5' '4' '3' '1' 'X' nan]
Q45 ['2' nan '4' '5' '3' 'X' '1']
Q46 ['2' '5' '3' '4' '1' nan 'X']
Q47 ['2' '5' '4' '3' 'X' '1' nan]
Q48 [ 4.  5.  2.  3.  1. nan]
Q49 [ 4.  5.  3.  2.  1. nan]
Q50 [ 2.  5.  4.  3.  1. nan]
Q51 [ 3.  5.  4.  2.  1. nan]
Q52 [ 3.  5.  4.  2.  1. nan]
Q53 ['2' '5' '4' '3' '1' 'X' nan]
Q54 ['4' '5' '1' 'X' '2' '3' nan]
Q55 ['4' '5' '3' '2' 'X' '1' nan]
Q56 ['2' '5' '4' '1' '3' 'X' nan]
Q57 ['2' '5' '4' '1' '3' 'X' nan]
Q58 ['2' '5' '4' '1' '3' 'X' nan]
Q59 ['2' '5' '4' '1' '3' 'X' nan]
Q60 ['3' '5' '4' 'X' '1' '2' nan]
Q61 ['2' '5' '4' '1' '3' 'X' nan]
Q62 ['4' '5' '3' '1' '2' 'X' nan]
Q63 [ 3.  5.  4.  2.  1. nan]
Q64 [ 3.  5.  4.  2.  1. nan]
Q65 [ 3.  5.  4.  2.  1. nan]
Q66 [ 3.  5.  4.  2.  1. nan]
Q67 [ 3.  5.  4.  1.  2. nan]
Q68 [ 2.  5.  4.  1.  3. nan]
Q69 [ 3.  5.  4.  2. nan  1.]
Q70 [ 5.  4.  2.  3.  1. nan]
Q71 [ 2.  5.  3.  4. nan  1.]
Q72 [ 2.  1.  3. nan]
Q73 [ 4.  6.  7.  8.  5. nan  3.  2.  1.]
Q74 [ 2.  1.  3. nan]
Q75 [ 2.  1.  3. nan]
Q76 [ 2.  3.  1. nan]
Q77 [ 2.  3. nan  1.]
Q78 [ 2.  3. nan  1.]
Q79 ['X' '3' '2' '1' '4' nan '5']
Q80 ['X' '2' '4' nan '5' '3' '1']
Q81 ['X' '5' '4' '3' '2' nan '1']
Q82 ['X' '3' '4' '5' '2' nan '1']
Q83 ['X' '3' '5' '4' nan '1' '2']
Q84 ['X' '3' '4' nan '2' '5' '1']
DLOC ['A' 'B' nan]
DSUPER ['A' 'B' 'C' nan]
DSEX ['A' 'B' nan]
DMINORITY [ 2.  1. nan]
DAGEGRP ['E' 'D' 'C' 'B' 'F' nan]
DPAYCAT ['C' 'D' 'A' 'B' 'E' nan]
DFEDTEN ['B' 'G' 'C' 'F' 'D' 'E' nan]
DAGYTEN ['D' 'C' 'F' 'B' 'E' nan]
DLEAVING ['A' 'C' 'E' 'D' 'B' nan]
DRETIRE ['D' 'C' 'B' 'A' nan]
POSTWT [3.28490553 2.78636021 5.58893726 ... 6.91970706 3.1294943  2.17424576]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

In [185]:
print(survey_2011.shape)
print(survey_2011.columns.unique())

(48945, 11)
Index(['agency', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')

In [186]:
print(survey_2012.shape)
print(survey_2012.columns.unique())
for col in survey_2012.columns:
    print(col, survey_2012[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 84 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
                                'Q80', 'Q81', 'Q82', 'Q83', 'Q84']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2012['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2012['circumstantial'] = 0
#Add DLEAVING/DRETIRE and drop all other demographics
survey_2012['DLEAVING'].replace('A', 5, inplace=True)
survey_2012['DLEAVING'].replace('B', 4, inplace=True)
survey_2012['DLEAVING'].replace('C', 3, inplace=True)
survey_2012['DLEAVING'].replace('D', 2, inplace=True)

survey_2012['DRETIRE'].replace('A', 1, inplace=True)
survey_2012['DRETIRE'].replace('B', 5, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']


survey_2012.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2012[my_work_experience_columns] = survey_2012[my_work_experience_columns].apply(pd.to_numeric)
survey_2012[my_work_unit_columns] = survey_2012[my_work_unit_columns].apply(pd.to_numeric)
survey_2012[my_organization_columns] = survey_2012[my_organization_columns].apply(pd.to_numeric)
survey_2012[my_supervisor_columns] = survey_2012[my_supervisor_columns].apply(pd.to_numeric)
survey_2012[leadership_columns] = survey_2012[leadership_columns].apply(pd.to_numeric)
survey_2012[my_satisfaction_columns] = survey_2012[my_satisfaction_columns].apply(pd.to_numeric)
survey_2012[employee_experience_columns] = survey_2012[employee_experience_columns].apply(pd.to_numeric)
survey_2012[negativity_index_columns] = survey_2012[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2012.columns:
    # check if numeric
    if survey_2012[col].dtype == 'int64' or survey_2012[col].dtype == 'float64':
        # scale to 1-5
        survey_2012[col] = scale_to_1_to_5(survey_2012[col])

# Average all of the values in the columns and drop the columns
survey_2012['my_work_experience'] = survey_2012[my_work_experience_columns].mean(axis=1)
survey_2012['my_work_unit'] = survey_2012[my_work_unit_columns].mean(axis=1)
survey_2012['my_organization'] = survey_2012[my_organization_columns].mean(axis=1)
survey_2012['my_supervisor'] = survey_2012[my_supervisor_columns].mean(axis=1)
survey_2012['leadership'] = survey_2012[leadership_columns].mean(axis=1)
survey_2012['my_satisfaction'] = survey_2012[my_satisfaction_columns].mean(axis=1)
survey_2012['employee_experience'] = survey_2012[employee_experience_columns].mean(axis=1)
survey_2012['negativity_index'] = survey_2012[negativity_index_columns].mean(axis=1)

excess_columsn = ['UserID', 'SUBELEM', 'DSUPER', 'DSEX', 'DMINORITY',
       'DAGEGRP', 'DFEDTEN', 'DLEAVING', 'DRETIRE', 'DMIL', 'DDIS','POSTWT']

# Drop all of the columns
survey_2012.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

print(survey_2012.shape)
print(survey_2012.columns.unique())

#convert AGENCY to agency
survey_2012.rename(columns={'AGENCY': 'agency'}, inplace=True)

(232462, 97)
Index(['UserID', 'AGENCY', 'SUBELEM', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7',
       'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47',
       'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57',
       'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67',
       'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77',
       'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'DSUPER', 'DSEX',
       'DMINORITY', 'DAGEGRP', 'DFEDTEN', 'DLEAVING', 'DRETIRE', 'DMIL',
       'DDIS', 'POSTWT'],
      dtype='object')
UserID [730441329723 775435245356 821484876171 ... 674370770921 464397620438
 466025091295]
AGENCY ['AF' 'AR' 'DD' 'NV']
SUBELEM [nan 'AF09' 'AF0D' 'AF0J' 'AF0M' 'AF0R' 'AF0U' 'AF0V' 'AF13' 'AF1C' 'AF1L'
 'AF1M' 'AF1S' 'AF1Y' 'AF3Q' 'AFGS' 'AFNG' 'ARAA' 'ARAE' 'ARAS' 'ARAT'
 'ARBA' 'ARCE' 'ARCS' 'ARE0' 'ARFC' 'ARG6' 'ARHR' 'ARJA' 'ARMC' 'ARNG'
 'ARSB' 'ARSE' 'ARSP' 'ARTC' 'ARX0' 'DD01' 'DD04' 'DD07' 'DD10' 'DD16'
 'DD27' 'DD35' 'DD60' 'DD63' 'DDA1' 'DDA2' 'NV11' 'NV12' 'NV14' 'NV18'
 'NV19' 'NV22' 'NV23' 'NV24' 'NV25' 'NV33' 'NV39' 'NV52' 'NV60' 'NV70'
 'NV76' 'NVMR']
Q1 [ 4.  5.  1.  2.  3. nan]
Q2 [ 4.  5.  3.  2.  1. nan]
Q3 [ 4.  5.  3. nan  1.  2.]
Q4 [ 5.  3.  4.  2. nan  1.]
Q5 [ 4.  5. nan  3.  2.  1.]
Q6 [ 4.  5.  3.  2.  1. nan]
Q7 [ 5.  4. nan  3.  1.  2.]
Q8 [ 4.  5.  3.  2. nan  1.]
Q9 ['2' '3' '1' '5' '4' nan 'X' 2.0 3.0 4.0 1.0 5.0]
Q10 ['2' '3' '4' '5' '1' nan 'X' 4.0 1.0 2.0 3.0 5.0]
Q11 ['3' '5' '4' '1' 'X' nan '2']
Q12 ['4' '5' '3' '1' '2' nan 'X' 4.0 5.0 2.0 3.0 1.0]
Q13 ['4' '5' '3' '2' nan 'X' '1']
Q14 ['4' '5' '3' '1' '2' 'X' nan]
Q15 ['3' '5' '4' '1' '2' 'X' nan]
Q16 ['4' '5' '3' '2' '1' nan 'X']
Q17 ['4' '5' '1' '2' 'X' '3' nan]
Q18 ['2' '5' '4' '1' '3' 'X' nan]
Q19 ['3' '5' '4' '1' 'X' '2' nan]
Q20 [ 4.  5.  3.  2.  1. nan]
Q21 ['2' '4' '3' '1' 'X' '5' nan]
Q22 ['1' '4' '3' 'X' '5' nan '2']
Q23 ['2' '3' '4' '1' 'X' nan '5']
Q24 ['1' '4' '2' '3' nan 'X' '5']
Q25 ['2' '4' '1' '3' nan 'X' '5']
Q26 ['4' '5' '3' nan '1' '2' 'X']
Q27 ['3' '5' '4' '2' nan 'X' '1']
Q28 [ 4.  5. nan  3.  2.  1.]
Q29 ['2' nan '3' '5' '4' '1' 'X']
Q30 ['2' nan '3' '5' '1' '4' 'X']
Q31 ['3' nan '1' '5' '4' '2' 'X']
Q32 ['4' nan '1' '2' '3' '5' 'X']
Q33 ['1' nan 'X' '2' '4' '3' '5']
Q34 ['4' nan '1' '5' '3' '2' 'X']
Q35 ['4' nan '5' '3' '1' '2' 'X']
Q36 ['3' nan '5' '4' '2' 'X' '1']
Q37 ['2' nan '1' '5' '4' '3' 'X']
Q38 ['4' nan '1' 'X' '5' '3' '2']
Q39 ['3' nan '5' '4' 'X' '1' '2']
Q40 [ 3. nan  1.  5.  4.  2.]
Q41 ['2' nan 'X' '1' '4' '5' '3']
Q42 ['4' nan '3' '1' '5' '2' 'X']
Q43 ['4' nan '3' '1' '5' '2' 'X' 2.0 5.0 3.0 1.0 4.0]
Q44 ['2' nan '5' '1' '4' '3' 'X']
Q45 ['4' nan '3' '1' '5' 'X' '2']
Q46 ['3' nan '5' '1' '2' '4' 'X']
Q47 ['3' nan '5' '1' '4' 'X' '2']
Q48 [ 4. nan  5.  2.  3.  1.]
Q49 [ 4. nan  5.  3.  2.  1.]
Q50 [ 4. nan  3.  5.  1.  2.]
Q51 [ 3. nan  1.  2.  5.  4.]
Q52 [ 3. nan  1.  4.  5.  2.]
Q53 ['2' nan '1' '3' '5' '4' 'X']
Q54 ['3' nan '1' '5' '4' '2' 'X']
Q55 ['4' nan '1' '2' '5' '3' 'X']
Q56 ['3' nan '1' '2' '5' '4' 'X' 2.0 5.0 4.0 3.0 1.0]
Q57 ['3' nan '1' '2' '5' '4' 'X']
Q58 ['2' nan '1' '5' '4' '3' 'X']
Q59 ['4' nan '1' '2' '5' '3' 'X']
Q60 ['3' nan '1' '5' '4' '2' 'X']
Q61 ['3' nan '1' '5' '4' '2' 'X']
Q62 ['3' nan '1' '5' '4' '2' 'X']
Q63 [ 3. nan  4.  2.  5.  1.]
Q64 [ 2. nan  4.  5.  3.  1.]
Q65 [ 3. nan  4.  1.  2.  5.]
Q66 [ 2. nan  4.  5.  3.  1.]
Q67 [ 3. nan  4.  1.  2.  5.]
Q68 [ 3. nan  4.  1.  2.  5.]
Q69 [ 3. nan  4.  5.  2.  1.]
Q70 [ 4. nan  2.  1.  3.  5.]
Q71 [ 3. nan  4.  5.  2.  1.]
Q72 [ 1. nan  2.  3.]
Q73 [ 1. nan  2.]
Q74 [ 3. nan  1.  2.]
Q75 [ 3. nan  1.  2.]
Q76 [ 3. nan  1.  2.]
Q77 [ 3. nan  1.  2.]
Q78 [ 3. nan  2.  1.]
Q79 ['4' nan 'X' '2' '3' '5' '1']
Q80 [nan '4' '5' 'X' '2' '3' '1']
Q81 [nan '2' '5' '4' 'X' '3' '1']
Q82 [nan '4' '3' 'X' '5' '2' '1']
Q83 [nan '4' '5' '3' 'X' '2' '1']
Q84 [nan '4' 'X' '5' '3' '2' '1']
DSUPER [nan 'A' 'B']
DSEX [nan 'A' 'B']
DMINORITY [nan  1.  2.]
DAGEGRP [nan 'B' 'A']
DFEDTEN [nan 'A' 'B']
DLEAVING [nan 'C' 'D' 'B' 'A']
DRETIRE [nan 'B' 'A']
DMIL [nan 'A' 'B']
DDIS [nan 'B' 'A']
POSTWT [2.17744779 1.56546853 2.04256124 ... 1.52179409 1.70720815 1.90892297]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(232462, 11)
Index(['AGENCY', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')

In [187]:
print(survey_2013.shape)
print(survey_2013.columns.unique())
for col in survey_2013.columns:
    print(col, survey_2013[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 84 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
                                'Q80', 'Q81', 'Q82', 'Q83', 'Q84']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2013['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2013['circumstantial'] = 0
#Add DLEAVING/DRETIRE and drop all other demographics
survey_2013['DLEAVING'].replace('A', 5, inplace=True)
survey_2013['DLEAVING'].replace('B', 4, inplace=True)
survey_2013['DLEAVING'].replace('C', 3, inplace=True)
survey_2013['DLEAVING'].replace('D', 2, inplace=True)

survey_2013['DRETIRE'].replace('A', 1, inplace=True)
survey_2013['DRETIRE'].replace('B', 5, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']


survey_2013.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2013[my_work_experience_columns] = survey_2013[my_work_experience_columns].apply(pd.to_numeric)
survey_2013[my_work_unit_columns] = survey_2013[my_work_unit_columns].apply(pd.to_numeric)
survey_2013[my_organization_columns] = survey_2013[my_organization_columns].apply(pd.to_numeric)
survey_2013[my_supervisor_columns] = survey_2013[my_supervisor_columns].apply(pd.to_numeric)
survey_2013[leadership_columns] = survey_2013[leadership_columns].apply(pd.to_numeric)
survey_2013[my_satisfaction_columns] = survey_2013[my_satisfaction_columns].apply(pd.to_numeric)
survey_2013[employee_experience_columns] = survey_2013[employee_experience_columns].apply(pd.to_numeric)
survey_2013[negativity_index_columns] = survey_2013[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2013.columns:
    # check if numeric
    if survey_2013[col].dtype == 'int64' or survey_2013[col].dtype == 'float64':
        # scale to 1-5
        survey_2013[col] = scale_to_1_to_5(survey_2013[col])

# Average all of the values in the columns and drop the columns
survey_2013['my_work_experience'] = survey_2013[my_work_experience_columns].mean(axis=1)
survey_2013['my_work_unit'] = survey_2013[my_work_unit_columns].mean(axis=1)
survey_2013['my_organization'] = survey_2013[my_organization_columns].mean(axis=1)
survey_2013['my_supervisor'] = survey_2013[my_supervisor_columns].mean(axis=1)
survey_2013['leadership'] = survey_2013[leadership_columns].mean(axis=1)
survey_2013['my_satisfaction'] = survey_2013[my_satisfaction_columns].mean(axis=1)
survey_2013['employee_experience'] = survey_2013[employee_experience_columns].mean(axis=1)
survey_2013['negativity_index'] = survey_2013[negativity_index_columns].mean(axis=1)

excess_columsn = ['USERID', 'PLEVEL1', 'PLEVEL2', 'DSUPER', 'DSEX', 'DMINORITY',
       'DAGEGRP', 'DPAYCAT', 'DFEDTEN', 'DLEAVING', 'DRETIRE', 'DMIL', 'DDIS','POSTWT']

# Drop all of the columns
survey_2013.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

print(survey_2013.shape)
print(survey_2013.columns.unique())

(65007, 99)
Index(['USERID', 'POSTWT', 'agency', 'PLEVEL1', 'PLEVEL2', 'Q1', 'Q2', 'Q3',
       'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24',
       'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44',
       'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54',
       'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64',
       'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74',
       'Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84',
       'DSUPER', 'DSEX', 'DMINORITY', 'DAGEGRP', 'DPAYCAT', 'DFEDTEN',
       'DRETIRE', 'DDIS', 'DMIL', 'DLEAVING'],
      dtype='object')
USERID [840527027438 874033236957  44302336938 ... 266796714939 895983997313
 324151960912]
POSTWT [10.26347117  6.97914317 16.11964111 ... 14.82030263  8.68362468
 11.09673308]
agency ['AF' 'AR' 'NV' 'DD']
PLEVEL1 ['AF1M' 'AF0J' 'ARCE' 'ARMC' 'ARBA' 'NV60' 'NV70' 'NV12' 'NV52' 'NV18'
 'NV19' 'NV23' 'DD10' 'DD34' 'ARX0' 'DD35' 'AF1S' 'NV24' 'DD07' nan 'NV25'
 'AF0M' 'DD26' 'AF1C' 'ARAS' 'NV11' 'AF1L' 'ARG6' 'DD04' 'ARTC' 'ARSE'
 'NVMR' 'DDWH' 'ARE0' 'DD63' 'AF13' 'DD60' 'ARHR' 'DD27' 'NV39' 'AF0R'
 'ARAT' 'DD48' 'NV76' 'ARFC' 'ARAE' 'AFGS' 'NV22']
PLEVEL2 [nan]
Q1 [ 2.  3.  1.  4.  5. nan]
Q2 [ 2.  3.  4.  1.  5. nan]
Q3 [ 2.  4.  1. nan  5.  3.]
Q4 [ 3.  4.  1.  5. nan  2.]
Q5 [ 4.  5.  3. nan  2.  1.]
Q6 [ 2.  4.  5.  3.  1. nan]
Q7 [ 5.  4.  1.  2.  3. nan]
Q8 [ 5.  1.  4.  3. nan  2.]
Q9 ['2' '4' '1' '3' '5' nan 'X']
Q10 ['3' '4' '2' '1' nan '5' 'X']
Q11 [nan '3' '1' '2' '4' '5' 'X']
Q12 ['1' '5' '4' '2' '3' nan 'X']
Q13 ['5' '1' '4' nan '3' '2' 'X']
Q14 ['4' '5' '1' '2' '3' 'X' nan]
Q15 ['X' nan '4' '1' '3' '2' '5']
Q16 ['X' '4' '2' '1' '5' '3' nan]
Q17 ['2' '4' '3' 'X' '1' '5' nan]
Q18 ['2' '4' '1' '3' 'X' '5' nan]
Q19 ['1' 'X' '2' '4' '3' '5' nan]
Q20 [ 3.  5.  2.  4.  1. nan]
Q21 ['2' '4' '3' '1' '5' 'X' nan]
Q22 ['X' '1' '3' '5' '2' '4' nan]
Q23 ['X' '4' '1' '3' nan '2' '5']
Q24 ['X' '3' '2' '1' '4' '5' nan]
Q25 ['X' '2' '1' '3' '4' '5' nan]
Q26 ['1' '5' '2' '4' '3' 'X' nan]
Q27 ['1' '5' '2' '3' '4' 'X' nan]
Q28 [ 3.  5.  2.  4.  1. nan]
Q29 ['3' '5' '2' '4' '1' 'X' nan]
Q30 ['1' '4' '2' 'X' '3' '5' nan]
Q31 ['X' '3' '2' '4' '1' '5' nan]
Q32 ['X' '3' '1' '4' '5' '2' nan]
Q33 ['1' '3' '4' '2' 'X' '5' nan]
Q34 ['X' '3' '4' nan '1' '5' '2']
Q35 ['4' '5' '1' '2' '3' 'X' nan]
Q36 ['4' '5' '1' 'X' '2' '3' nan]
Q37 ['3' '4' '5' 'X' '1' '2' nan]
Q38 ['3' '4' '5' '1' nan 'X' '2']
Q39 ['X' '5' '3' '4' '1' nan '2']
Q40 [ 3.  4.  2. nan  5.  1.]
Q41 ['X' '3' '1' '2' '4' '5' nan]
Q42 ['4' nan '1' '5' '3' '2' 'X']
Q43 ['X' nan '3' '4' '1' '5' '2']
Q44 ['X' nan '3' '4' '1' '2' '5']
Q45 ['X' nan '3' '1' '4' '5' '2']
Q46 ['X' nan '2' '3' '1' '4' '5']
Q47 ['3' nan '4' '2' '1' '5' 'X']
Q48 [ 4. nan  5.  2.  3.  1.]
Q49 [ 4. nan  5.  3.  2.  1.]
Q50 [ 3. nan  2.  4.  5.  1.]
Q51 [ 4. nan  2.  1.  5.  3.]
Q52 [ 4. nan  1.  5.  3.  2.]
Q53 ['X' nan '1' '3' '2' '5' '4']
Q54 ['X' nan '4' '1' '3' '5' '2']
Q55 ['X' nan '4' '3' '1' '2' '5']
Q56 ['X' nan '2' '4' '1' '3' '5']
Q57 ['X' nan '1' '4' '3' '5' '2']
Q58 ['X' nan '3' '4' '1' '2' '5']
Q59 ['X' nan '2' '4' '1' '3' '5']
Q60 ['X' '5' '2' '4' '1' '3' nan]
Q61 ['3' '5' '2' '1' '4' nan 'X']
Q62 ['3' '5' 'X' '1' '4' '2' nan]
Q63 [ 3. nan  2.  4.  5.  1.]
Q64 [ 3. nan  4.  1.  2.  5.]
Q65 [ 3. nan  2.  4.  1.  5.]
Q66 [ 3. nan  1.  4.  2.  5.]
Q67 [ 2. nan  1.  3.  4.  5.]
Q68 [ 1. nan  4.  2.  3.  5.]
Q69 [ 3. nan  1.  2.  4.  5.]
Q70 [ 4. nan  5.  2.  1.  3.]
Q71 [ 4. nan  2.  3.  1.  5.]
Q72 [ 1.  2. nan  3.]
Q73 [ 2.  1.  3. nan]
Q74 [ 1.  2.  3. nan]
Q75 [ 1.  2.  3. nan]
Q76 [ 1.  2. nan  3.]
Q77 [ 2.  3.  1. nan]
Q78 [ 2.  3. nan  1.]
Q79 [nan '5' '2' 'X' '4' '3' '1']
Q80 ['4' nan '5' '3' '1' 'X' '2']
Q81 ['4' '3' nan '5' 'X' '2' '1']
Q82 ['X' nan '4' '5' '3' '2' '1']
Q83 [nan 'X' '3' '4' '5' '1' '2']
Q84 [nan '4' 'X' '5' '3' '2' '1']
DSUPER ['A' 'B' nan]
DSEX ['B' 'A' nan]
DMINORITY [ 2. nan  1.]
DAGEGRP ['D' 'C' nan 'B' 'A']
DPAYCAT ['A' 'C' 'B' nan]
DFEDTEN ['C' 'B' 'A' nan]
DRETIRE ['A' 'B' nan]
DDIS ['A' 'B' nan]
DMIL ['A' 'B' nan]
DLEAVING ['D' 'A' 'C' 'B' nan]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:12: RuntimeWarning: All-NaN axis encountered
  min_value = np.nanmin(column_values)  # Find the minimum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:13: RuntimeWarning: All-NaN axis encountered
  max_value = np.nanmax(column_values)  # Find the maximum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(65007, 11)
Index(['agency', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')

In [188]:
print(survey_2014.shape)
print(survey_2014.columns.unique())
for col in survey_2014.columns:
    print(col, survey_2014[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 84 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
                                'Q80', 'Q81', 'Q82', 'Q83', 'Q84']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2014['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2014['circumstantial'] = 0
#Add DLEAVING/DRETIRE and drop all other demographics
survey_2014['DLEAVING'].replace('A', 5, inplace=True)
survey_2014['DLEAVING'].replace('B', 4, inplace=True)
survey_2014['DLEAVING'].replace('C', 3, inplace=True)
survey_2014['DLEAVING'].replace('D', 2, inplace=True)

survey_2014['DRETIRE'].replace('A', 1, inplace=True)
survey_2014['DRETIRE'].replace('B', 5, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']

survey_2014.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2014[my_work_experience_columns] = survey_2014[my_work_experience_columns].apply(pd.to_numeric)
survey_2014[my_work_unit_columns] = survey_2014[my_work_unit_columns].apply(pd.to_numeric)
survey_2014[my_organization_columns] = survey_2014[my_organization_columns].apply(pd.to_numeric)
survey_2014[my_supervisor_columns] = survey_2014[my_supervisor_columns].apply(pd.to_numeric)
survey_2014[leadership_columns] = survey_2014[leadership_columns].apply(pd.to_numeric)
survey_2014[my_satisfaction_columns] = survey_2014[my_satisfaction_columns].apply(pd.to_numeric)
survey_2014[employee_experience_columns] = survey_2014[employee_experience_columns].apply(pd.to_numeric)
survey_2014[negativity_index_columns] = survey_2014[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2014.columns:
    # check if numeric
    if survey_2014[col].dtype == 'int64' or survey_2014[col].dtype == 'float64':
        # scale to 1-5
        survey_2014[col] = scale_to_1_to_5(survey_2014[col])

# Average all of the values in the columns and drop the columns
survey_2014['my_work_experience'] = survey_2014[my_work_experience_columns].mean(axis=1)
survey_2014['my_work_unit'] = survey_2014[my_work_unit_columns].mean(axis=1)
survey_2014['my_organization'] = survey_2014[my_organization_columns].mean(axis=1)
survey_2014['my_supervisor'] = survey_2014[my_supervisor_columns].mean(axis=1)
survey_2014['leadership'] = survey_2014[leadership_columns].mean(axis=1)
survey_2014['my_satisfaction'] = survey_2014[my_satisfaction_columns].mean(axis=1)
survey_2014['employee_experience'] = survey_2014[employee_experience_columns].mean(axis=1)

survey_2014['negativity_index'] = survey_2014[negativity_index_columns].mean(axis=1)

excess_columsn = ['USERID', 'PLEVEL1', 'PLEVEL2', 'DSUPER', 'DSEX', 'DMINORITY', 'DEDUC',
       'DAGEGRP', 'DPAYCAT', 'DFEDTEN', 'DLEAVING', 'DRETIRE', 'DMIL', 'DDIS','POSTWT']

# Drop all of the columns
survey_2014.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

print(survey_2014.shape)
print(survey_2014.columns.unique())

(75025, 100)
Index(['USERID', 'POSTWT', 'agency', 'PLEVEL1', 'PLEVEL2', 'Q1', 'Q2', 'Q3',
       'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24',
       'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44',
       'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54',
       'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64',
       'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74',
       'Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84',
       'DSUPER', 'DSEX', 'DMINORITY', 'DEDUC', 'DPAYCAT', 'DFEDTEN', 'DRETIRE',
       'DDIS', 'DAGEGRP', 'DMIL', 'DLEAVING'],
      dtype='object')
USERID [120858140346 197536426548 194833511670 ... 179103127298 190069272969
 119140727734]
POSTWT [ 1.18313918  6.05922245  3.08975019 ...  6.54277593 14.50479498
  5.17033662]
agency ['DD' 'AR' 'AF' 'NV']
PLEVEL1 ['DD10' 'DD61' 'ARMC' 'AF1S' 'NV60' 'NV18' 'AF0M' 'NV25' 'DD07' nan 'ARX0'
 'NV52' 'ARCE' 'NV70' 'AF1L' 'DD01' 'ARBA' 'AF0J' 'ARTC' 'ARG6' 'NV24'
 'AF1C' 'ARAS' 'AF0R' 'ARHR' 'DD60' 'NV12' 'DD27' 'NVMR' 'NV19' 'AF1M'
 'ARE0' 'NV22' 'NV39' 'AFGS' 'DD48' 'NV76' 'DD63' 'ARFC' 'ARAT' 'AF0U'
 'ARP1' 'AF0V' 'DDA2' 'DD35' 'ARSE' 'DD34' 'ARAA' 'ARAE' 'NV11' 'NV14'
 'DD04' 'NV23']
PLEVEL2 [nan]
Q1 [ 4.  2.  1.  5.  3. nan]
Q2 [ 5.  3.  4.  2.  1. nan]
Q3 [ 4.  2.  3. nan  1.  5.]
Q4 [ 5.  3.  2.  1.  4. nan]
Q5 [ 5.  3.  2.  4.  1. nan]
Q6 [ 5.  3.  2.  4.  1. nan]
Q7 [ 5.  4. nan  1.  2.  3.]
Q8 [ 5.  3.  4. nan  1.  2.]
Q9 ['5' '4' '1' '3' '2' 'X' nan]
Q10 ['5' '4' '3' '1' '2' nan 'X']
Q11 ['5' '3' '1' '4' nan '2' 'X']
Q12 ['5' '4' '3' '1' nan '2' 'X']
Q13 ['5' '3' nan '4' '2' '1' 'X']
Q14 ['5' '4' '1' '2' '3' 'X' nan]
Q15 ['5' '4' '1' '3' '2' 'X' nan]
Q16 ['5' '4' '3' '2' '1' nan 'X']
Q17 ['3' '1' 'X' '4' '5' '2' nan]
Q18 ['4' '2' '3' '1' '5' nan 'X']
Q19 ['5' 'X' '2' '3' '4' '1' nan]
Q20 [ 5.  4.  1.  2.  3. nan]
Q21 ['5' '4' '2' '1' '3' 'X' nan]
Q22 ['5' '1' '3' '2' '4' 'X' nan]
Q23 ['3' '1' '2' '4' 'X' '5' nan]
Q24 ['4' '1' '2' '3' 'X' '5' nan]
Q25 ['5' '1' '4' '3' '2' 'X' nan]
Q26 ['5' '3' '1' '4' '2' 'X' nan]
Q27 ['5' '3' '4' '2' '1' 'X' nan]
Q28 [ 5.  4.  3.  2. nan  1.]
Q29 ['5' '3' '4' '2' '1' nan 'X']
Q30 ['5' '3' '2' '1' '4' nan 'X']
Q31 ['5' '3' '4' '1' '2' 'X' nan]
Q32 ['5' '3' '1' '2' '4' 'X' nan]
Q33 ['3' '1' '2' '4' 'X' '5' nan]
Q34 ['4' '3' '1' 'X' '5' '2' nan]
Q35 ['4' '3' '5' '2' nan '1' 'X']
Q36 ['4' '3' '1' '5' nan '2' 'X']
Q37 ['4' '1' '3' '5' '2' nan 'X']
Q38 ['4' '1' nan '5' '2' '3' 'X']
Q39 ['5' '3' '4' '2' '1' nan 'X']
Q40 [ 4.  1.  2.  3.  5. nan]
Q41 ['4' '1' '2' 'X' '3' '5' nan]
Q42 ['4' 'X' '5' '3' '1' '2' nan]
Q43 ['4' 'X' '3' '1' '2' '5' nan]
Q44 ['4' '3' '1' '2' '5' 'X' nan]
Q45 ['4' '3' 'X' '2' '5' '1' nan]
Q46 ['4' '3' '2' '5' 'X' '1' nan]
Q47 ['4' '3' '2' '5' '1' nan 'X']
Q48 [ 4.  5.  2.  3.  1. nan]
Q49 [ 4.  5.  3.  2.  1. nan]
Q50 [ 4.  3.  1.  2.  5. nan]
Q51 [ 4.  5.  2.  3.  1. nan]
Q52 [ 5.  4.  2.  3.  1. nan]
Q53 ['5' '1' '2' '3' 'X' '4' nan]
Q54 ['4' '1' '3' '2' 'X' '5' nan]
Q55 ['4' 'X' '1' '3' '5' '2' nan]
Q56 ['4' 'X' '2' '1' '3' '5' nan]
Q57 ['5' 'X' '3' '4' '2' '1' nan]
Q58 ['4' 'X' '2' '1' '3' '5' nan]
Q59 ['5' 'X' '3' '2' '4' '1' nan]
Q60 ['5' '1' '3' '4' '2' 'X' nan]
Q61 ['5' '1' '3' '4' '2' nan 'X']
Q62 ['5' 'X' '3' '2' '4' '1' nan]
Q63 [ 5.  3.  2.  1.  4. nan]
Q64 [ 5.  2.  4.  1.  3. nan]
Q65 [ 5.  2.  3. nan  4.  1.]
Q66 [ 5.  1.  3.  2.  4. nan]
Q67 [ 3.  1.  2.  5.  4. nan]
Q68 [ 5.  3.  2.  1.  4. nan]
Q69 [ 5.  3.  4.  2.  1. nan]
Q70 [ 5.  4.  1.  2.  3. nan]
Q71 [ 5.  1.  4.  2.  3. nan]
Q72 [ 1.  3.  2.  4. nan]
Q73 [ 1.  3.  2. nan]
Q74 [ 1.  2.  3. nan]
Q75 [ 1.  2.  3. nan]
Q76 [ 2.  1. nan  3.]
Q77 [ 2.  1.  3. nan]
Q78 [ 2.  3.  1. nan]
Q79 ['5' nan '4' '3' 'X' '2' '1']
Q80 ['5' nan '2' '4' '3' '1' 'X']
Q81 ['5' '4' nan '3' 'X' '2' '1']
Q82 [nan '3' 'X' '5' '4' '2' '1']
Q83 [nan 'X' '3' '4' '5' '2' '1']
Q84 [nan '3' '5' 'X' '4' '2' '1']
DSUPER ['A' 'B' nan]
DSEX ['B' 'A' nan]
DMINORITY [ 2.  1. nan]
DEDUC ['A' nan 'B' 'C']
DPAYCAT ['C' 'B' 'A' nan]
DFEDTEN ['C' 'A' 'B' nan]
DRETIRE ['A' nan 'B']
DDIS ['B' nan 'A']
DAGEGRP ['D' 'C' 'B' 'A' nan]
DMIL ['A' 'C' 'D' 'B' nan]
DLEAVING ['D' 'A' 'B' 'C' nan]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:12: RuntimeWarning: All-NaN axis encountered
  min_value = np.nanmin(column_values)  # Find the minimum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:13: RuntimeWarning: All-NaN axis encountered
  max_value = np.nanmax(column_values)  # Find the maximum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(75025, 11)
Index(['agency', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')

In [189]:
print(survey_2015.shape)
print(survey_2015.columns.unique())
for col in survey_2015.columns:
    print(col, survey_2015[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

# Questions 72 - 84 are work_life questions / or special --> (Employee Experience)
employee_experience_columns = ['Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
                                'Q80', 'Q81', 'Q82', 'Q83', 'Q84']


#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2015['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2015['circumstantial'] = 0
#Add DLEAVING/DRETIRE and drop all other demographics
survey_2015['DLEAVING'].replace('A', 5, inplace=True)
survey_2015['DLEAVING'].replace('B', 4, inplace=True)
survey_2015['DLEAVING'].replace('C', 3, inplace=True)
survey_2015['DLEAVING'].replace('D', 2, inplace=True)

survey_2015['DRETIRE'].replace('A', 1, inplace=True)
survey_2015['DRETIRE'].replace('B', 5, inplace=True)

negativity_index_columns = ['DLEAVING', 'DRETIRE']

survey_2015.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2015[my_work_experience_columns] = survey_2015[my_work_experience_columns].apply(pd.to_numeric)
survey_2015[my_work_unit_columns] = survey_2015[my_work_unit_columns].apply(pd.to_numeric)
survey_2015[my_organization_columns] = survey_2015[my_organization_columns].apply(pd.to_numeric)
survey_2015[my_supervisor_columns] = survey_2015[my_supervisor_columns].apply(pd.to_numeric)
survey_2015[leadership_columns] = survey_2015[leadership_columns].apply(pd.to_numeric)
survey_2015[my_satisfaction_columns] = survey_2015[my_satisfaction_columns].apply(pd.to_numeric)
survey_2015[employee_experience_columns] = survey_2015[employee_experience_columns].apply(pd.to_numeric)
survey_2015[negativity_index_columns] = survey_2015[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2015.columns:
    # check if numeric
    if survey_2015[col].dtype == 'int64' or survey_2015[col].dtype == 'float64':
        # scale to 1-5
        survey_2015[col] = scale_to_1_to_5(survey_2015[col])

# Average all of the values in the columns and drop the columns
survey_2015['my_work_experience'] = survey_2015[my_work_experience_columns].mean(axis=1)
survey_2015['my_work_unit'] = survey_2015[my_work_unit_columns].mean(axis=1)
survey_2015['my_organization'] = survey_2015[my_organization_columns].mean(axis=1)
survey_2015['my_supervisor'] = survey_2015[my_supervisor_columns].mean(axis=1)
survey_2015['leadership'] = survey_2015[leadership_columns].mean(axis=1)
survey_2015['my_satisfaction'] = survey_2015[my_satisfaction_columns].mean(axis=1)
survey_2015['employee_experience'] = survey_2015[employee_experience_columns].mean(axis=1)
survey_2015['negativity_index'] = survey_2015[negativity_index_columns].mean(axis=1)

excess_columsn = ['RANDOM', 'PLEVEL1', 'PLEVEL2', 'DSUPER', 'DSEX', 'DMINORITY', 'DEDUC',
       'DAGEGRP', 'DFEDTEN', 'DLEAVING', 'DRETIRE', 'DMIL', 'DDIS','POSTWT']

# Drop all of the columns
survey_2015.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + employee_experience_columns + excess_columsn, inplace=True)

print(survey_2015.shape)
print(survey_2015.columns.unique())

(72919, 99)
Index(['POSTWT', 'agency', 'PLEVEL1', 'PLEVEL2', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26',
       'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
       'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46',
       'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56',
       'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66',
       'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76',
       'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'DSUPER',
       'DSEX', 'DMINORITY', 'DEDUC', 'DFEDTEN', 'DRETIRE', 'DDIS', 'DAGEGRP',
       'DMIL', 'DLEAVING', 'RANDOM'],
      dtype='object')
POSTWT [ 1.49366111  8.61802517  8.0792867  ... 13.7670183  14.57328582
 17.80254098]
agency ['DD' 'NV' 'AR' 'AF']
PLEVEL1 ['DD10' 'DD60' 'NV25' 'ARCE' 'NV60' 'ARMC' 'DD34' 'AF1M' 'NV19' 'ARBA'
 'NV52' nan 'DD01' 'ARX0' 'ARTC' 'DD04' 'ARG6' 'AF1L' 'AF17' 'NV24' 'NVMR'
 'ARAS' 'DD35' 'DD63' 'AF0M' 'DD07' 'AF0R' 'NV70' 'NV22' 'AF0J' 'NV39'
 'AFGS' 'NV18' 'AFHQ' 'AF1C' 'NV12' 'ARHR' 'DD27' 'ARFC' 'AF0D' 'NV23'
 'ARSE' 'ARAA' 'ARAT' 'ARAE' 'AF1S' 'AF0V' 'NV11']
PLEVEL2 [nan]
Q1 [ 4.  2.  5.  3.  1. nan]
Q2 [ 5.  2.  3.  4. nan  1.]
Q3 [ 5.  3.  4.  1.  2. nan]
Q4 [ 5.  2.  4.  3. nan  1.]
Q5 [ 5.  4.  3. nan  2.  1.]
Q6 [ 5.  4.  2. nan  3.  1.]
Q7 [ 5.  4.  2.  3. nan  1.]
Q8 [ 5.  4.  3.  2. nan  1.]
Q9 ['5' '4' '1' '3' '2' 'X' nan]
Q10 ['5' '4' '1' '3' '2' nan 'X']
Q11 ['5' '4' '3' '2' '1' nan 'X']
Q12 ['5' '4' '3' nan '2' '1' 'X']
Q13 ['5' '4' '3' '2' nan '1' 'X']
Q14 ['5' '4' '2' '3' '1' 'X' nan]
Q15 ['5' '4' '3' '2' '1' nan 'X']
Q16 ['5' '4' '3' nan '2' '1' 'X']
Q17 ['4' '1' '5' '2' '3' 'X' nan]
Q18 ['5' '4' '2' '3' '1' 'X' nan]
Q19 ['5' nan '3' '4' '1' '2' 'X']
Q20 [ 5.  4.  2.  1.  3. nan]
Q21 ['5' '2' '3' '4' '1' 'X' nan]
Q22 ['5' '2' 'X' '4' '1' '3' nan]
Q23 ['5' '1' '4' '3' '2' 'X' nan]
Q24 ['5' '3' '4' 'X' '2' '1' nan]
Q25 ['5' '2' '4' '3' '1' nan 'X']
Q26 ['5' '4' '3' '1' '2' 'X' nan]
Q27 ['5' '4' '3' '2' 'X' '1' nan]
Q28 [ 5.  4.  3.  2.  1. nan]
Q29 ['5' '4' '3' '2' 'X' '1' nan]
Q30 ['5' '4' nan '3' '2' '1' 'X']
Q31 ['5' '4' '3' '2' '1' nan 'X']
Q32 ['5' '4' '2' '3' '1' nan 'X']
Q33 ['X' '3' '1' '2' '4' '5' nan]
Q34 ['5' '4' 'X' '3' nan '2' '1']
Q35 ['5' '4' '3' nan '2' '1' 'X']
Q36 ['5' '4' '3' '2' '1' nan 'X']
Q37 ['4' '2' '3' '5' '1' 'X' nan]
Q38 ['X' '2' '4' '5' '3' nan '1']
Q39 ['5' '4' '3' '2' '1' nan 'X']
Q40 [ 3.  4.  5.  2. nan  1.]
Q41 ['X' '1' '4' '2' '3' '5' nan]
Q42 ['5' '4' '3' '2' '1' nan 'X']
Q43 ['5' '4' '3' '2' '1' nan 'X']
Q44 ['5' '4' '2' '3' '1' nan 'X']
Q45 ['5' '4' '3' 'X' '2' '1' nan]
Q46 ['5' '4' '2' '3' nan '1' 'X']
Q47 ['5' '4' '3' '1' '2' 'X' nan]
Q48 [ 5.  4.  2.  3.  1. nan]
Q49 [ 5.  4.  2.  3.  1. nan]
Q50 [ 5.  4.  3.  2.  1. nan]
Q51 [ 5.  4.  2.  3.  1. nan]
Q52 [ 4.  5.  3.  2.  1. nan]
Q53 ['5' '2' '4' '3' 'X' '1' nan]
Q54 ['5' '2' '3' '4' 'X' '1' nan]
Q55 ['5' '4' '3' nan '2' '1' 'X']
Q56 ['5' '4' '3' '2' '1' nan 'X']
Q57 ['5' '4' '3' 'X' '2' nan '1']
Q58 ['5' '4' '3' '2' 'X' '1' nan]
Q59 ['5' '4' '3' 'X' '2' nan '1']
Q60 ['4' '5' '3' '2' 'X' '1' nan]
Q61 ['4' '1' '2' '5' '3' nan 'X']
Q62 ['4' '3' '5' '2' 'X' nan '1']
Q63 [ 4.  5.  3.  2.  1. nan]
Q64 [ 4.  2.  5.  3. nan  1.]
Q65 [ 4.  3.  2.  5.  1. nan]
Q66 [ 4.  2.  3.  5.  1. nan]
Q67 [ 4.  5.  1.  2.  3. nan]
Q68 [ 5.  4.  1.  2.  3. nan]
Q69 [ 5.  4.  3.  2.  1. nan]
Q70 [ 5.  4.  2.  3.  1. nan]
Q71 [ 5.  3.  4.  2.  1. nan]
Q72 [ 1.  2.  3.  4. nan]
Q73 [ 1.  2.  3. nan]
Q74 [ 2.  1.  3. nan]
Q75 [ 2.  1.  3. nan]
Q76 [ 2.  3.  1. nan]
Q77 [ 2.  3.  1. nan]
Q78 [ 2.  3. nan  1.]
Q79 ['5' nan '4' '2' '3' 'X' '1']
Q80 [nan '4' '5' '3' '2' '1' 'X']
Q81 [nan '5' '3' 'X' '4' '2' '1']
Q82 [nan '3' '5' '4' '1' 'X' '2']
Q83 [nan '4' '3' 'X' '5' '2' '1']
Q84 [nan 'X' '2' '3' '4' '5' '1']
DSUPER ['A' 'B' nan]
DSEX ['B' 'A' nan]
DMINORITY [ 2.  1. nan]
DEDUC ['A' 'B' 'C' nan]
DFEDTEN ['C' 'B' 'A' nan]
DRETIRE ['A' 'B' nan]
DDIS ['B' 'A' nan]
DAGEGRP ['D' 'C' 'B' 'A' nan]
DMIL ['A' 'C' 'D' nan 'B']
DLEAVING ['D' 'A' 'B' nan 'C']
RANDOM [167620569964 198877376922 164004174603 ... 198008646162 155803510200
 149336631758]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:12: RuntimeWarning: All-NaN axis encountered
  min_value = np.nanmin(column_values)  # Find the minimum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:13: RuntimeWarning: All-NaN axis encountered
  max_value = np.nanmax(column_values)  # Find the maximum value in the input column, ignoring NaN
C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(72919, 11)
Index(['agency', 'DEIA', 'circumstantial', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'employee_experience', 'negativity_index'],
      dtype='object')

In [190]:
print(survey_2016.shape)
print(survey_2016.columns.unique())
for col in survey_2016.columns:
    print(col, survey_2016[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']




#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2016['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2016['circumstantial'] = 0

# Add employee experience with sets of zero
survey_2016['employee_experience'] = 0

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2016['DLEAVING'].replace('A', 5, inplace=True)
survey_2016['DLEAVING'].replace('B', 4, inplace=True)
survey_2016['DLEAVING'].replace('C', 3, inplace=True)
survey_2016['DLEAVING'].replace('D', 2, inplace=True)


negativity_index_columns = ['DLEAVING']


survey_2016.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2016[my_work_experience_columns] = survey_2016[my_work_experience_columns].apply(pd.to_numeric)
survey_2016[my_work_unit_columns] = survey_2016[my_work_unit_columns].apply(pd.to_numeric)
survey_2016[my_organization_columns] = survey_2016[my_organization_columns].apply(pd.to_numeric)
survey_2016[my_supervisor_columns] = survey_2016[my_supervisor_columns].apply(pd.to_numeric)
survey_2016[leadership_columns] = survey_2016[leadership_columns].apply(pd.to_numeric)
survey_2016[my_satisfaction_columns] = survey_2016[my_satisfaction_columns].apply(pd.to_numeric)
survey_2016[negativity_index_columns] = survey_2016[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2016.columns:
    # check if numeric
    if survey_2016[col].dtype == 'int64' or survey_2016[col].dtype == 'float64':
        # scale to 1-5
        survey_2016[col] = scale_to_1_to_5(survey_2016[col])

# Average all of the values in the columns and drop the columns
survey_2016['my_work_experience'] = survey_2016[my_work_experience_columns].mean(axis=1)
survey_2016['my_work_unit'] = survey_2016[my_work_unit_columns].mean(axis=1)
survey_2016['my_organization'] = survey_2016[my_organization_columns].mean(axis=1)
survey_2016['my_supervisor'] = survey_2016[my_supervisor_columns].mean(axis=1)
survey_2016['leadership'] = survey_2016[leadership_columns].mean(axis=1)
survey_2016['my_satisfaction'] = survey_2016[my_satisfaction_columns].mean(axis=1)
survey_2016['negativity_index'] = survey_2016[negativity_index_columns].mean(axis=1)

excess_columsn = ['RANDOM', 'plevel1', 'DSUPER', 'DSEX', 'DMINORITY', 
       'DAGEGRP', 'DLEAVING','POSTWT']

# Drop all of the columns
survey_2016.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + excess_columsn, inplace=True)

#convert AGENCY to agency
survey_2016.rename(columns={'AGENCY': 'agency'}, inplace=True)

print(survey_2016.shape)
print(survey_2016.columns.unique())

(58630, 80)
Index(['AGENCY', 'plevel1', 'DSUPER', 'DSEX', 'DAGEGRP', 'DMINORITY',
       'DLEAVING', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30',
       'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40',
       'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
       'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'POSTWT', 'RANDOM'],
      dtype='object')
AGENCY ['AF' 'DD' 'AR' 'NV']
plevel1 ['AF1C' 'AF0J' 'AFGS' 'AF0M' 'DD10' 'ARFC' 'NVZZ' 'NV19' 'AF1M' 'AF0R'
 'AFQH' 'NV52' 'ARBA' 'ARCE' 'ARZZ' 'DDZZ' 'DD01' 'ARTC' 'DD04' 'NV18'
 'AFZZ' 'NV25' 'DD26' 'ARMC' 'AF1L' 'DD35' 'DD63' 'NV24' 'DD60' 'DD34'
 'ARSE' 'ARX0' 'DD12' 'ARG6' 'ARTA' 'DD07' 'AF1S' 'NV22' 'NV39' 'ARAE'
 'ARHR' 'NV12']
DSUPER ['A' 'B' nan]
DSEX ['A' 'B' nan]
DAGEGRP ['B' 'A' nan]
DMINORITY ['B' nan 'A']
DLEAVING ['A' 'D' 'C' 'B' nan]
Q1 [nan  5.  3.  4.  2.  1.]
Q2 [ 3.  5.  4.  2.  1. nan]
Q3 [ 3.  5.  4.  2.  1. nan]
Q4 [ 3.  5.  4.  1. nan  2.]
Q5 [ 1.  5.  3.  4. nan  2.]
Q6 [nan  5.  3.  4.  2.  1.]
Q7 [ 5.  4.  3.  1.  2. nan]
Q8 [ 5.  3.  4.  2.  1. nan]
Q9 ['3' '4' '2' '5' '1' nan 'X']
Q10 ['4' '5' '3' '2' '1' nan 'X']
Q11 ['2' '5' '4' '3' '1' nan 'X']
Q12 ['4' '5' '3' '1' '2' nan 'X']
Q13 ['3' '5' nan '4' '1' '2' 'X']
Q14 ['2' '5' '3' '4' '1' nan 'X']
Q15 ['3' 'X' '5' '4' nan '1' '2']
Q16 ['4' '5' '3' '2' '1' nan 'X']
Q17 ['X' '5' '4' '3' '1' '2' nan]
Q18 ['4' '5' '3' '2' '1' 'X' nan]
Q19 ['4' '3' '5' 'X' '2' nan '1']
Q20 [ 4.  5.  3.  2.  1. nan]
Q21 ['3' '4' '5' '2' 'X' '1' nan]
Q22 ['2' '3' '5' '4' '1' 'X' nan]
Q23 ['X' '4' '3' '1' '2' '5' nan]
Q24 ['2' '3' '5' '4' '1' 'X' nan]
Q25 ['3' '4' '5' 'X' '2' '1' nan]
Q26 ['4' '5' '3' '2' nan '1' 'X']
Q27 ['3' '5' nan '4' '1' 'X' '2']
Q28 [ 3.  5.  4.  1. nan  2.]
Q29 ['4' '5' '3' '2' nan 'X' '1']
Q30 ['3' '5' '4' '2' '1' 'X' nan]
Q31 ['3' '5' '4' '1' '2' nan 'X']
Q32 ['2' '5' '4' '3' '1' nan 'X']
Q33 ['3' '4' '5' '2' '1' nan 'X']
Q34 ['X' '5' '3' '4' '2' nan '1']
Q35 ['4' '5' '3' '2' nan '1' 'X']
Q36 ['4' '5' '2' '1' nan '3' 'X']
Q37 ['X' '4' '5' '1' '2' '3' nan]
Q38 ['3' '5' '4' 'X' nan '1' '2']
Q39 ['3' '5' '4' nan 'X' '1' '2']
Q40 [ 2.  5.  4.  3. nan  1.]
Q41 ['2' '4' nan '3' '5' 'X' '1']
Q42 ['3' '5' '4' '2' nan '1' 'X']
Q43 ['2' '5' '3' '4' nan 'X' '1']
Q44 ['4' '5' '3' '1' '2' nan 'X']
Q45 ['3' '5' '4' '2' nan 'X' '1']
Q46 ['3' '5' '4' '2' nan '1' 'X']
Q47 ['X' '5' '3' '4' '2' nan '1']
Q48 [ 4.  5.  2.  3. nan  1.]
Q49 [ 4.  5.  3. nan  2.  1.]
Q50 [ 4.  5.  3.  1.  2. nan]
Q51 [ 4.  5.  3.  2. nan  1.]
Q52 [ 3.  5.  4. nan  2.  1.]
Q53 ['X' '5' '4' '3' '2' nan '1']
Q54 ['X' '4' '5' '3' '2' nan '1']
Q55 ['3' '5' '4' '2' nan 'X' '1']
Q56 ['4' '5' '2' '3' nan '1' 'X']
Q57 ['X' '5' '4' '2' '3' nan '1']
Q58 ['3' '5' '4' '2' '1' nan 'X']
Q59 ['3' '5' '4' nan '1' '2' 'X']
Q60 ['X' '5' '4' '3' '1' nan '2']
Q61 ['3' '5' '4' '1' '2' nan 'X']
Q62 ['X' '5' nan '4' '3' '2' '1']
Q63 [ 3.  5.  4.  2. nan  1.]
Q64 [ 3.  5.  4.  2.  1. nan]
Q65 [ 3.  5.  4.  2.  1. nan]
Q66 [ 3.  5.  4.  2. nan  1.]
Q67 [ 1.  2.  4.  3.  5. nan]
Q68 [ 4.  5.  3.  2.  1. nan]
Q69 [ 2.  5.  4.  3. nan  1.]
Q70 [ 3.  5.  4.  2.  1. nan]
Q71 [ 2.  5.  4.  3. nan  1.]
POSTWT [ 6.91729311  4.1479419  13.00419515 ...  9.06673654 15.86432435
  2.56329124]
RANDOM [129946011831 166971123901 168509437641 ... 157967689101 145485349160
 165927870415]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(58630, 11)
Index(['agency', 'DEIA', 'circumstantial', 'employee_experience',
       'my_work_experience', 'my_work_unit', 'my_organization',
       'my_supervisor', 'leadership', 'my_satisfaction', 'negativity_index'],
      dtype='object')

In [191]:
print(survey_2017.shape)
print(survey_2017.columns.unique())
for col in survey_2017.columns:
    print(col, survey_2017[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']




#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2017['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2017['circumstantial'] = 0

# Add employee experience with sets of zero
survey_2017['employee_experience'] = 0

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2017['DLEAVING'].replace('A', 5, inplace=True)
survey_2017['DLEAVING'].replace('B', 4, inplace=True)
survey_2017['DLEAVING'].replace('C', 3, inplace=True)
survey_2017['DLEAVING'].replace('D', 2, inplace=True)


negativity_index_columns = ['DLEAVING']


survey_2017.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2017[my_work_experience_columns] = survey_2017[my_work_experience_columns].apply(pd.to_numeric)
survey_2017[my_work_unit_columns] = survey_2017[my_work_unit_columns].apply(pd.to_numeric)
survey_2017[my_organization_columns] = survey_2017[my_organization_columns].apply(pd.to_numeric)
survey_2017[my_supervisor_columns] = survey_2017[my_supervisor_columns].apply(pd.to_numeric)
survey_2017[leadership_columns] = survey_2017[leadership_columns].apply(pd.to_numeric)
survey_2017[my_satisfaction_columns] = survey_2017[my_satisfaction_columns].apply(pd.to_numeric)
survey_2017[negativity_index_columns] = survey_2017[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2017.columns:
    # check if numeric
    if survey_2017[col].dtype == 'int64' or survey_2017[col].dtype == 'float64':
        # scale to 1-5
        survey_2017[col] = scale_to_1_to_5(survey_2017[col])

# Average all of the values in the columns and drop the columns
survey_2017['my_work_experience'] = survey_2017[my_work_experience_columns].mean(axis=1)
survey_2017['my_work_unit'] = survey_2017[my_work_unit_columns].mean(axis=1)
survey_2017['my_organization'] = survey_2017[my_organization_columns].mean(axis=1)
survey_2017['my_supervisor'] = survey_2017[my_supervisor_columns].mean(axis=1)
survey_2017['leadership'] = survey_2017[leadership_columns].mean(axis=1)
survey_2017['my_satisfaction'] = survey_2017[my_satisfaction_columns].mean(axis=1)
survey_2017['negativity_index'] = survey_2017[negativity_index_columns].mean(axis=1)

excess_columns = ['LEVEL1', 'DSUPER','DEDUC','DFEDTEN', 'DSEX', 'DMINORITY', 
       'DLEAVING','POSTWT']

# Drop all of the columns
survey_2017.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + excess_columns, inplace=True)

#convert AGENCY to agency
survey_2017.rename(columns={'AGENCY': 'agency'}, inplace=True)

print(survey_2017.shape)
print(survey_2017.columns.unique())

(70693, 80)
Index(['AGENCY', 'LEVEL1', 'DSEX', 'DEDUC', 'DFEDTEN', 'DSUPER', 'DMINORITY',
       'DLEAVING', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30',
       'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40',
       'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
       'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'POSTWT'],
      dtype='object')
AGENCY ['AF' 'NV' 'DD' 'AR']
LEVEL1 ['AF0J' 'AFGS' 'AF0M' 'AF1M' 'AF1L' 'AFZZ' 'AF1C' 'NV19' 'NV27' 'NV25'
 'NV22' 'NV76' 'NV39' 'NV12' 'NVZZ' 'AF1S' 'DD04' 'DD26' 'DD10' 'NV18'
 'NV70' 'NV24' 'NV52' 'NV60' 'DD60' 'DDZZ' 'DD35' 'ARZZ' 'DD63' 'ARCE'
 'ARMC' 'ARX0' 'ARAE' 'AR2A' 'ARTC' 'ARBA' 'ARHR' 'ARHQ' 'ARK0' 'ARFC'
 'DD34' 'DD07' 'DD27' 'DD01' 'DDJS']
DSEX ['A' nan 'B']
DEDUC ['B' nan 'C' 'A']
DFEDTEN ['A' nan 'C' 'B']
DSUPER ['A' nan 'B']
DMINORITY ['B' nan 'A']
DLEAVING ['B' 'A' nan 'C' 'D']
Q1 [ 4.  5.  1.  3.  2. nan]
Q2 [ 4.  5.  1.  2.  3. nan]
Q3 [ 4.  5.  1.  3.  2. nan]
Q4 [ 4.  5.  1.  3.  2. nan]
Q5 [ 4.  5.  3.  2.  1. nan]
Q6 [ 4.  5.  1.  2.  3. nan]
Q7 [ 5.  4.  3.  2. nan  1.]
Q8 [ 5.  4.  3.  1.  2. nan]
Q9 ['3' '4' '2' '1' '5' nan 'X']
Q10 ['4' '2' '1' '5' '3' nan 'X']
Q11 ['4' '3' '5' '1' '2' 'X' nan]
Q12 ['4' '5' '1' '2' nan '3' 'X']
Q13 ['5' '4' '3' '1' '2' nan 'X']
Q14 ['4' '2' '5' nan '3' '1' 'X']
Q15 ['4' '5' '1' '3' '2' 'X' nan]
Q16 ['4' '5' '2' '3' 'X' '1' nan]
Q17 ['5' '4' '1' '3' '2' nan 'X']
Q18 ['4' '5' '3' '2' '1' 'X' nan]
Q19 ['4' '5' '2' '1' '3' 'X' nan]
Q20 [ 4. nan  5.  1.  2.  3.]
Q21 ['4' '5' '2' '1' '3' nan 'X']
Q22 ['4' '3' '5' '1' nan '2' 'X']
Q23 ['4' '5' '1' '2' 'X' '3' nan]
Q24 ['4' '5' '2' '1' '3' 'X' nan]
Q25 ['4' '5' '3' '1' 'X' '2' nan]
Q26 ['4' '5' '3' '2' nan '1' 'X']
Q27 ['4' '5' '3' '1' 'X' '2' nan]
Q28 [ 5.  3.  4.  2. nan  1.]
Q29 ['4' '3' '5' '1' nan '2' 'X']
Q30 ['4' '3' '5' '1' nan '2' 'X']
Q31 ['5' '4' '1' '3' 'X' nan '2']
Q32 ['4' '5' '3' '1' 'X' nan '2']
Q33 ['4' '3' '5' '2' '1' nan 'X']
Q34 ['4' '5' '3' '1' nan '2' 'X']
Q35 ['4' '5' '3' '1' nan '2' 'X']
Q36 ['4' '5' nan '2' 'X' '3' '1']
Q37 ['4' '5' '1' '3' 'X' nan '2']
Q38 ['4' '5' '1' '3' nan 'X' '2']
Q39 ['4' '5' '2' nan '3' 'X' '1']
Q40 [ 5.  4.  1.  3. nan  2.]
Q41 ['4' '2' '5' '3' '1' nan 'X']
Q42 ['5' '4' '1' '3' nan '2' 'X']
Q43 ['5' '4' '1' nan '2' '3' 'X']
Q44 ['5' '4' '1' '3' nan '2' 'X']
Q45 ['4' '5' '1' '3' nan 'X' '2']
Q46 ['5' '4' '3' '1' nan '2' 'X']
Q47 ['4' '5' '3' '1' nan '2' 'X']
Q48 [ 5.  4.  1.  3. nan  2.]
Q49 [ 5.  1.  4. nan  3.  2.]
Q50 [ 5.  4.  3. nan  2.  1.]
Q51 [ 5.  1.  3. nan  4.  2.]
Q52 [ 5.  4.  1.  2.  3. nan]
Q53 ['4' '3' '5' '1' nan '2' 'X']
Q54 ['4' '3' '5' '1' nan 'X' '2']
Q55 ['4' '3' '5' '1' nan 'X' '2']
Q56 ['4' '2' '5' '1' '3' nan 'X']
Q57 ['4' '3' '5' '1' nan 'X' '2']
Q58 ['4' '2' '5' '1' nan '3' 'X']
Q59 ['4' '3' '5' '1' nan '2' 'X']
Q60 ['4' '3' '5' '1' nan '2' 'X']
Q61 ['4' '3' '5' '1' nan '2' 'X']
Q62 ['5' '3' '4' '1' '2' nan 'X']
Q63 [ 3.  4.  5.  1.  2. nan]
Q64 [ 3.  4.  5.  1.  2. nan]
Q65 [ 5.  4.  3.  1.  2. nan]
Q66 [ 4.  2.  5.  1.  3. nan]
Q67 [ 3.  5.  2.  1. nan  4.]
Q68 [ 4.  5.  3.  1. nan  2.]
Q69 [ 4.  5.  1.  3. nan  2.]
Q70 [ 4.  3.  1.  2.  5. nan]
Q71 [ 4.  3.  5.  1. nan  2.]
POSTWT [ 3.49402956  5.04906878 10.68996697 ...  7.85343362 13.14217392
 10.52422208]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(70693, 11)
Index(['agency', 'DEIA', 'circumstantial', 'employee_experience',
       'my_work_experience', 'my_work_unit', 'my_organization',
       'my_supervisor', 'leadership', 'my_satisfaction', 'negativity_index'],
      dtype='object')

In [192]:
print(survey_2018.shape)
print(survey_2018.columns.unique())
for col in survey_2018.columns:
    print(col, survey_2018[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']




#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2018['DEIA'] = 0
#Add Circumstantial with sets of zero
survey_2018['circumstantial'] = 0

# Add employee experience with sets of zero
survey_2018['employee_experience'] = 0

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2018['DLEAVING'].replace('A', 5, inplace=True)
survey_2018['DLEAVING'].replace('B', 4, inplace=True)
survey_2018['DLEAVING'].replace('C', 3, inplace=True)
survey_2018['DLEAVING'].replace('D', 2, inplace=True)


negativity_index_columns = ['DLEAVING']


survey_2018.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2018[my_work_experience_columns] = survey_2018[my_work_experience_columns].apply(pd.to_numeric)
survey_2018[my_work_unit_columns] = survey_2018[my_work_unit_columns].apply(pd.to_numeric)
survey_2018[my_organization_columns] = survey_2018[my_organization_columns].apply(pd.to_numeric)
survey_2018[my_supervisor_columns] = survey_2018[my_supervisor_columns].apply(pd.to_numeric)
survey_2018[leadership_columns] = survey_2018[leadership_columns].apply(pd.to_numeric)
survey_2018[my_satisfaction_columns] = survey_2018[my_satisfaction_columns].apply(pd.to_numeric)
survey_2018[negativity_index_columns] = survey_2018[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2018.columns:
    # check if numeric
    if survey_2018[col].dtype == 'int64' or survey_2018[col].dtype == 'float64':
        # scale to 1-5
        survey_2018[col] = scale_to_1_to_5(survey_2018[col])

# Average all of the values in the columns and drop the columns
survey_2018['my_work_experience'] = survey_2018[my_work_experience_columns].mean(axis=1)
survey_2018['my_work_unit'] = survey_2018[my_work_unit_columns].mean(axis=1)
survey_2018['my_organization'] = survey_2018[my_organization_columns].mean(axis=1)
survey_2018['my_supervisor'] = survey_2018[my_supervisor_columns].mean(axis=1)
survey_2018['leadership'] = survey_2018[leadership_columns].mean(axis=1)
survey_2018['my_satisfaction'] = survey_2018[my_satisfaction_columns].mean(axis=1)
survey_2018['negativity_index'] = survey_2018[negativity_index_columns].mean(axis=1)

excess_columns = ['LEVEL1', 'DSUPER','DEDUC','DFEDTEN', 'DSEX', 'DMINORITY', 
       'DLEAVING','POSTWT', 'RANDOM']

# Drop all of the columns
survey_2018.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + excess_columns, inplace=True)

#convert AGENCY to agency
survey_2018.rename(columns={'AGENCY': 'agency'}, inplace=True)

print(survey_2018.shape)
print(survey_2018.columns.unique())

(182115, 81)
Index(['AGENCY', 'LEVEL1', 'DSEX', 'DEDUC', 'DFEDTEN', 'DSUPER', 'DMINORITY',
       'DLEAVING', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30',
       'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40',
       'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
       'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'POSTWT', 'RANDOM'],
      dtype='object')
AGENCY ['AR' 'AF' 'DD' 'NV']
LEVEL1 ['ARCE' 'AF0J' 'AFZZ' 'AF1M' 'AF0M' 'AF3Q' 'AF1C' 'AF1S' 'AFGS' 'AF1L'
 'AF0R' 'AF17' 'AFZB' 'AFZG' 'AF0V' 'ARZZ' 'ARX0' 'ARBA' 'ARAE' 'ARMC'
 'ARQ0' 'ARTC' 'ARFC' 'AR2A' 'ARAT' 'ARHR' 'ARHQ' 'ARP1' 'ARAP' 'ARK0'
 'ARE0' 'ARJA' 'ARSP' 'DD35' 'DD60' 'DD48' 'DD12' 'DD63' 'DD04' 'DD10'
 'DD16' 'DDZZ' 'DD07' 'DD27' 'DD01' 'DD34' 'DD26' 'DD61' 'NV27' 'NV39'
 'NV24' 'NV60' 'NV70' 'NV23' 'NV76' 'NV18' 'NVZZ' 'NV22' 'NV14' 'NV25'
 'NV19' 'NV52' 'NV12']
DSEX ['A' 'B' nan]
DEDUC ['B' 'A' 'C' nan]
DFEDTEN ['A' 'B' 'C' nan]
DSUPER ['A' 'B' nan]
DMINORITY ['A' 'B' nan]
DLEAVING ['A' 'B' 'D' 'C' nan]
Q1 [ 4.  3.  2.  5.  1. nan]
Q2 [ 4.  2.  5.  3.  1. nan]
Q3 [ 4.  3.  5.  2. nan  1.]
Q4 [ 4.  2.  3.  5.  1. nan]
Q5 [ 4.  5.  3.  2.  1. nan]
Q6 [ 4.  3.  5.  2. nan  1.]
Q7 [ 4.  5.  3.  2.  1. nan]
Q8 [ 4.  5.  3.  2. nan  1.]
Q9 ['4' '3' '2' '5' '1' nan 'X']
Q10 ['4' '2' '3' '5' '1' nan 'X']
Q11 ['3' '4' '2' '5' '1' nan 'X']
Q12 ['4' '3' '5' '1' '2' nan 'X']
Q13 ['4' '5' nan '1' '2' '3' 'X']
Q14 ['4' '2' '1' '5' '3' 'X' nan]
Q15 ['4' '2' '5' '3' '1' 'X' nan]
Q16 ['4' '5' '2' '3' '1' nan 'X']
Q17 ['4' '3' '5' '1' '2' 'X' nan]
Q18 ['4' '2' '3' '5' '1' 'X' nan]
Q19 ['3' '5' '2' '4' 'X' '1' nan]
Q20 [ 4.  5.  3.  2. nan  1.]
Q21 ['3' '2' '4' '5' 'X' '1' nan]
Q22 ['X' '3' '2' '4' '1' '5' nan]
Q23 ['X' '2' '4' '1' '3' '5' nan]
Q24 ['X' '2' '4' '3' '1' '5' nan]
Q25 ['X' '2' '4' '3' '5' '1' nan]
Q26 ['4' '5' '3' '2' '1' nan 'X']
Q27 ['4' '5' '3' '2' '1' 'X' nan]
Q28 [ 4.  5.  3. nan  2.  1.]
Q29 ['4' '3' '5' '2' '1' 'X' nan]
Q30 ['3' '4' '2' '5' '1' 'X' nan]
Q31 ['3' '4' '5' '2' '1' nan 'X']
Q32 ['X' '3' '4' '5' '1' nan '2']
Q33 [nan '2' '4' 'X' '3' '1' '5']
Q34 ['X' '3' '4' '5' '1' '2' nan]
Q35 ['4' '3' '5' '1' '2' nan 'X']
Q36 ['4' '5' '3' '1' '2' nan 'X']
Q37 ['X' '4' '5' '1' '3' '2' nan]
Q38 ['X' '4' '5' '2' '3' '1' nan]
Q39 ['4' '2' '5' '3' 'X' nan '1']
Q40 [ 5.  3.  4.  2. nan  1.]
Q41 ['X' '2' '1' '4' '5' '3' nan]
Q42 ['5' '4' '3' '2' nan '1' 'X']
Q43 ['5' '3' '4' '2' '1' nan 'X']
Q44 ['5' '3' '2' '4' '1' nan 'X']
Q45 ['5' '4' '2' '3' 'X' nan '1']
Q46 ['5' '3' '2' '4' '1' nan 'X']
Q47 ['5' '4' '2' '3' '1' nan 'X']
Q48 [ 5.  4.  3.  2. nan  1.]
Q49 [ 5.  4.  3.  2.  1. nan]
Q50 [ 5.  4.  2.  3. nan  1.]
Q51 [ 4.  5.  3.  2.  1. nan]
Q52 [ 4.  5.  3.  2. nan  1.]
Q53 ['3' '2' '1' '4' '5' nan 'X']
Q54 ['X' '2' '4' '5' '1' '3' nan]
Q55 ['3' '4' '5' '1' '2' 'X' nan]
Q56 ['4' '2' '3' '5' '1' nan 'X']
Q57 ['4' '3' '2' '5' 'X' '1' nan]
Q58 ['4' '1' '2' '3' '5' nan 'X']
Q59 ['4' '2' '3' '5' '1' nan 'X']
Q60 ['X' '3' '5' '4' '1' '2' nan]
Q61 ['3' '2' '4' '1' '5' nan 'X']
Q62 ['4' '2' 'X' '3' '1' '5' nan]
Q63 [ 4.  3.  5.  2.  1. nan]
Q64 [ 4.  2.  5.  3.  1. nan]
Q65 [ 3.  4.  5.  2.  1. nan]
Q66 [ 3.  2.  4.  5.  1. nan]
Q67 [ 3.  2.  5.  4.  1. nan]
Q68 [ 4.  2.  3.  5.  1. nan]
Q69 [ 4.  2.  3.  5.  1. nan]
Q70 [ 5.  4.  3.  1.  2. nan]
Q71 [ 5.  4.  2.  3.  1. nan]
POSTWT [1.86940114 1.48650361 1.17917812 ... 1.95805463 0.85898535 0.89060649]
RANDOM [171325524603 173832153842 143121577679 ... 102884431371 184620628405
 172415033295]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(182115, 11)
Index(['agency', 'DEIA', 'circumstantial', 'employee_experience',
       'my_work_experience', 'my_work_unit', 'my_organization',
       'my_supervisor', 'leadership', 'my_satisfaction', 'negativity_index'],
      dtype='object')

In [193]:
print(survey_2019.shape)
print(survey_2019.columns.unique())
for col in survey_2019.columns:
    print(col, survey_2019[col].unique())


# Questions 1 - 19 are my_work_experience questions
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
                                'Q16', 'Q17', 'Q18', 'Q19']


# Questions 20 - 28 are my_work_unit questions
my_work_unit_columns = ['Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
                        'Q28']

# Questions 29 - 41 are my_agency questions --> (My Organization)
my_organization_columns = ['Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36',
                            'Q37', 'Q38', 'Q39', 'Q40', 'Q41']

# Questions 42 - 62 are my_work_experience questions
    #Questions 42-52 are My Supervisor
my_supervisor_columns = ['Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49',
                        'Q50', 'Q51', 'Q52']
    #Questions 53-62 are Leadership
leadership_columns = ['Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
                        'Q61', 'Q62']

# Questions 63 - 71 are my_satisfaction questions
my_satisfaction_columns = ['Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
                            'Q71']

circumstantial_columns = ['Q73', 'Q74', 'Q75_1', 'Q75_2', 'Q75_3', 'Q75_4', 'Q75_5',
       'Q75_6', 'Q75_7', 'Q75_8', 'Q75_9', 'Q75_10', 'Q76', 'Q77']




#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2019['DEIA'] = 0

# Add employee experience with sets of zero
survey_2019['employee_experience'] = 0

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2019['DLEAVING'].replace('A', 5, inplace=True)
survey_2019['DLEAVING'].replace('B', 4, inplace=True)
survey_2019['DLEAVING'].replace('C', 3, inplace=True)
survey_2019['DLEAVING'].replace('D', 2, inplace=True)


negativity_index_columns = ['DLEAVING']


survey_2019.replace('X', np.nan, inplace=True)

# convert all values to numeric
survey_2019[my_work_experience_columns] = survey_2019[my_work_experience_columns].apply(pd.to_numeric)
survey_2019[my_work_unit_columns] = survey_2019[my_work_unit_columns].apply(pd.to_numeric)
survey_2019[my_organization_columns] = survey_2019[my_organization_columns].apply(pd.to_numeric)
survey_2019[my_supervisor_columns] = survey_2019[my_supervisor_columns].apply(pd.to_numeric)
survey_2019[leadership_columns] = survey_2019[leadership_columns].apply(pd.to_numeric)
survey_2019[my_satisfaction_columns] = survey_2019[my_satisfaction_columns].apply(pd.to_numeric)
survey_2019[circumstantial_columns] = survey_2019[circumstantial_columns].apply(pd.to_numeric)
survey_2019[negativity_index_columns] = survey_2019[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2019.columns:
    # check if numeric
    if survey_2019[col].dtype == 'int64' or survey_2019[col].dtype == 'float64':
        # scale to 1-5
        survey_2019[col] = scale_to_1_to_5(survey_2019[col])

# Average all of the values in the columns and drop the columns
survey_2019['my_work_experience'] = survey_2019[my_work_experience_columns].mean(axis=1)
survey_2019['my_work_unit'] = survey_2019[my_work_unit_columns].mean(axis=1)
survey_2019['my_organization'] = survey_2019[my_organization_columns].mean(axis=1)
survey_2019['my_supervisor'] = survey_2019[my_supervisor_columns].mean(axis=1)
survey_2019['leadership'] = survey_2019[leadership_columns].mean(axis=1)
survey_2019['my_satisfaction'] = survey_2019[my_satisfaction_columns].mean(axis=1)
survey_2019['circumstantial'] = survey_2019[circumstantial_columns].mean(axis=1)
survey_2019['negativity_index'] = survey_2019[negativity_index_columns].mean(axis=1)

excess_columns = ['LEVEL1', 'DSUPER','DEDUC','DFEDTEN', 'DSEX', 'DMINORITY', 
       'DLEAVING','POSTWT', 'RANDOM']

# Drop all of the columns
survey_2019.drop(columns=my_work_experience_columns + my_work_unit_columns + my_organization_columns
                 +  my_supervisor_columns + leadership_columns + my_satisfaction_columns 
                 + excess_columns + circumstantial_columns, inplace=True)

#convert AGENCY to agency
survey_2019.rename(columns={'AGENCY': 'agency'}, inplace=True)

print(survey_2019.shape)
print(survey_2019.columns.unique())

(199723, 95)
Index(['AGENCY', 'LEVEL1', 'DSEX', 'DEDUC', 'DFEDTEN', 'DSUPER', 'DMINORITY',
       'DLEAVING', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30',
       'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40',
       'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60',
       'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q73', 'Q74', 'Q75_1', 'Q75_2', 'Q75_3', 'Q75_4', 'Q75_5',
       'Q75_6', 'Q75_7', 'Q75_8', 'Q75_9', 'Q75_10', 'Q76', 'Q77', 'POSTWT',
       'RANDOM'],
      dtype='object')
AGENCY ['AR' 'AF' 'DD' 'NV']
LEVEL1 ['ARCE' 'AFZG' 'AF0M' 'AFGS' 'AF1M' 'AF0J' 'AF1L' 'AF1C' 'AFZZ' 'AF0R'
 'AF0V' 'AF1S' 'AF17' 'AF3Q' 'AFZB' 'ARMC' 'ARTC' 'ARX0' 'AR2A' 'ARK0'
 'ARHQ' 'ARZZ' 'ARFU' 'ARAT' 'ARFC' 'ARSP' 'ARAP' 'ARP1' 'ARHR' 'ARJA'
 'ARAE' 'ARQ0' 'ARE0' 'DD01' 'DD07' 'DD48' 'DD34' 'DDZZ' 'DD35' 'DD10'
 'DD04' 'DD26' 'DD60' 'DD63' 'DD16' 'DD61' 'DD12' 'DD27' 'NV27' 'NV12'
 'NV19' 'NV39' 'NV18' 'NV52' 'NV70' 'NV76' 'NV24' 'NV60' 'NV14' 'NV22'
 'NV25' 'NV23' 'NVZZ' 'NV74']
DSEX ['B' 'A' nan]
DEDUC ['A' nan 'B' 'C']
DFEDTEN ['B' 'C' nan 'A']
DSUPER ['A' nan 'B']
DMINORITY ['A' nan 'B']
DLEAVING ['B' 'A' nan 'D' 'C']
Q1 [ 2.  3.  4.  5. nan  1.]
Q2 [ 4.  3.  5.  2. nan  1.]
Q3 [ 2.  1.  3.  4.  5. nan]
Q4 [ 2.  3.  5.  4. nan  1.]
Q5 [ 4.  2.  3.  5.  1. nan]
Q6 [ 5.  2.  4.  3. nan  1.]
Q7 [ 5.  2.  4.  3.  1. nan]
Q8 [ 5.  2.  4.  3. nan  1.]
Q9 ['2' '5' '1' '4' '3' nan 'X' 2.0 1.0 3.0 4.0 5.0]
Q10 ['4' '2' '5' '3' '1' 'X' nan 4.0 1.0 5.0 2.0 3.0]
Q11 ['1' '3' '4' '5' '2' nan 'X']
Q12 ['3' '2' '4' '5' nan 'X' '1']
Q13 ['3' '4' '5' nan '1' 'X' '2']
Q14 ['5' '2' '1' '4' '3' nan 'X']
Q15 ['3' '1' '5' '4' '2' 'X' nan]
Q16 ['4' '2' '3' '5' nan '1' 'X']
Q17 ['3' '1' '4' '5' '2' 'X' nan]
Q18 ['2' '5' '4' '3' '1' 'X' nan]
Q19 ['4' '2' '1' '5' 'X' '3' nan]
Q20 [ 4.  2.  5.  1.  3. nan]
Q21 ['3' '2' '5' 'X' '4' '1' nan]
Q22 ['3' '1' '2' '5' '4' 'X' nan]
Q23 ['3' '1' '4' '2' '5' 'X' nan]
Q24 ['2' '1' '5' '4' 'X' '3' nan]
Q25 ['X' '2' '4' '5' '3' '1' nan]
Q26 ['5' '3' '4' '2' nan '1' 'X']
Q27 ['4' '1' '5' 'X' '3' '2' nan]
Q28 [ 5.  2.  4.  3. nan  1.]
Q29 ['5' '2' '4' '3' nan 'X' '1']
Q30 ['3' '2' '4' '5' '1' 'X' nan]
Q31 ['2' '1' '4' '5' '3' 'X' nan]
Q32 ['2' '5' '4' '3' '1' nan 'X']
Q33 ['X' '1' '2' '4' '5' '3' nan]
Q34 ['X' '3' '5' '4' '2' '1' nan]
Q35 ['3' '2' '4' '5' '1' 'X' nan]
Q36 ['5' '2' '4' '3' '1' nan 'X']
Q37 ['4' '1' '2' '5' 'X' '3' nan]
Q38 ['3' 'X' '4' '5' '1' '2' nan]
Q39 ['3' '1' '4' '5' '2' nan 'X']
Q40 [ 3.  1.  5.  4.  2. nan]
Q41 ['X' '1' '3' '5' '2' '4' nan]
Q42 ['4' '1' '5' '3' nan 'X' '2']
Q43 ['4' '1' '2' '5' '3' nan 'X']
Q44 ['4' '1' '2' '3' '5' 'X' nan]
Q45 ['X' '1' '4' '5' '3' '2' nan]
Q46 ['3' '1' '2' '4' '5' 'X' nan]
Q47 ['3' '2' '1' '5' '4' nan 'X']
Q48 [ 4.  1.  2.  3.  5. nan]
Q49 [ 4.  1.  2.  5.  3. nan]
Q50 [ 5.  4.  3.  2. nan  1.]
Q51 [ 5.  1.  3.  2.  4. nan]
Q52 [ 5.  1.  3.  4.  2. nan]
Q53 ['3' '1' nan '4' '2' '5' 'X']
Q54 ['3' '1' nan '4' '5' 'X' '2']
Q55 ['5' '2' nan '3' '4' 'X' '1']
Q56 [nan '1' '4' '5' '3' '2' 'X']
Q57 ['3' '4' nan '1' '5' '2' 'X']
Q58 ['3' '2' nan '5' '4' '1' 'X']
Q59 ['3' '2' nan '4' '5' '1' 'X']
Q60 ['3' '1' nan '4' '2' '5' 'X']
Q61 ['3' '1' nan '2' '5' '4' 'X']
Q62 ['X' '2' nan '3' '5' '4' '1']
Q63 [ 3.  1. nan  2.  5.  4.]
Q64 [ 5.  1. nan  4.  2.  3.]
Q65 [ 2. nan  4.  1.  5.  3.]
Q66 [ 3.  1. nan  4.  5.  2.]
Q67 [ 2.  1. nan  3.  4.  5.]
Q68 [ 2.  3. nan  5.  4.  1.]
Q69 [ 4.  1. nan  3.  5.  2.]
Q70 [ 4. nan  5.  2.  3.  1.]
Q71 [ 4.  1. nan  5.  3.  2.]
Q73 [ 1. nan  4.  5.  3.  2.]
Q74 [ 2.  1. nan  5.  3.  4.]
Q75_1 [ 0. nan  1.]
Q75_2 [ 0. nan  1.]
Q75_3 [ 0. nan  1.]
Q75_4 [ 1. nan  0.]
Q75_5 [ 0. nan  1.]
Q75_6 [ 0. nan  1.]
Q75_7 [ 0. nan  1.]
Q75_8 [ 0. nan  1.]
Q75_9 [ 0. nan  1.]
Q75_10 [ 0. nan  1.]
Q76 [ 3.  2. nan  4.  1.]
Q77 ['5' 'X' nan '3' '1' '4' '2']
POSTWT [1.48193062 2.3231857  1.38922202 ... 1.02408045 1.00329955 1.03537374]
RANDOM [153716118425 179261120305 175160776346 ... 157861115577 112664807454
 130680544223]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(199723, 11)
Index(['agency', 'DEIA', 'employee_experience', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'circumstantial', 'negativity_index'],
      dtype='object')

In [194]:
for col in survey_2019.columns:
    print(col, survey_2019[col].unique())

agency ['AR' 'AF' 'DD' 'NV']
DEIA [nan]
employee_experience [nan]
my_work_experience [3.31578947 2.15789474 2.94736842 4.68421053 2.84210526 3.
 4.72222222 4.94736842 4.10526316 4.05263158 4.78947368 4.36842105
 3.78947368 5.         2.94444444 4.44444444 3.84210526 3.73684211
 3.27777778 3.88235294 4.89473684 4.         2.94117647 3.72222222
 4.84210526 3.94444444 4.05555556 3.10526316 3.52631579 4.42105263
 3.82352941 4.26315789 4.21052632 4.16666667 3.89473684 4.15789474
 3.63157895 3.26315789 3.57894737 3.15789474 2.36842105 3.33333333
 4.11764706 4.52631579 3.47368421 3.36842105 3.94736842 4.31578947
 4.63157895 3.58823529 4.77777778 4.47368421 3.05263158 1.68421053
 4.125      3.42105263 3.61111111 4.33333333 2.375      3.70588235
 3.21052632 4.73684211 2.78947368 3.68421053 4.38888889 4.57894737
 2.31578947 3.35294118 2.89473684 2.68421053 3.38888889 2.42105263
 2.72222222 2.88888889 3.88888889 2.47368421 2.26315789 3.66666667
 3.23529412 3.05555556 2.52941176 3.22222222 3.16666667 3.77777778
 4.83333333 4.23529412 4.81818182 3.11111111 2.21052632 2.52631579
 2.73333333 3.875      2.57894737 4.55555556 3.29411765 2.05263158
 4.61111111 4.66666667 4.22222222 3.76470588 2.         2.61111111
 4.5        2.73684211 3.5        2.55555556 4.27777778 2.63157895
 1.63157895 4.75       2.8        4.07142857 4.9375     3.94117647
 3.17647059 2.875      3.11764706 4.11111111 2.58823529 3.75
 4.64705882 4.41176471 3.44444444 2.8125     3.4375     3.55555556
 3.26666667 3.47058824 4.88888889 1.94736842 2.29411765 2.77777778
 3.05882353 1.89473684 1.57894737 2.83333333 2.17647059 1.77777778
 3.83333333 2.66666667 2.9375     4.05882353 2.33333333 2.85714286
 3.73333333 2.4375     2.10526316 1.78947368 1.6875     4.52941176
 2.5625     1.73684211 4.82352941 2.88235294 3.64705882 3.08333333
 3.625      3.41176471 3.14285714 1.52631579 3.25       3.3125
 3.93333333 2.75       2.6        2.625      4.29411765 1.38888889
 2.05555556 2.27777778 2.35714286 2.16666667 4.17647059 2.64705882
 1.36842105 2.53846154 2.70588235 2.5        2.38888889 1.33333333
 2.61538462 1.84210526 2.64285714 1.375      4.6875     3.9375
 3.90909091 2.23529412 3.71428571 1.66666667 2.76470588 3.86666667
 4.94444444 4.625      1.         2.41176471 3.375      3.46153846
 2.92307692 1.11111111 3.13333333 2.47058824 2.15384615 2.11111111
 4.58823529 2.35294118 4.35294118 3.5625     4.47058824 2.82352941
 4.26666667 4.76470588 2.22222222 4.94117647 3.52941176 3.6
 2.44444444 2.28571429 4.3125     2.11764706 3.125      3.06666667
 4.14285714 3.76923077 1.22222222 4.70588235 1.58823529 1.21052632
 2.42857143 3.8125     3.42857143 1.94117647 4.54545455 4.1875
 3.91666667 2.18181818 4.375      3.6875     2.90909091 1.94444444
 3.1875     1.64705882 4.88235294 1.15789474 2.05882353 3.46666667
 1.31578947 3.57142857 3.72727273 2.53333333 1.47368421 4.25
 1.72222222 2.93333333 2.25       1.42105263 2.07142857 1.47058824
 1.88888889 2.125      2.26666667 1.05263158 3.53846154 3.85714286
 4.5625     3.36363636        nan 1.83333333 1.8125     2.71428571
 4.27272727 4.0625     2.92857143 1.55555556 4.8125     4.36363636
 3.2        1.52941176 4.72727273 4.38461538 2.6875     3.07692308
 2.3125     4.09090909 2.06666667 4.58333333 1.27272727 2.13333333
 1.6        3.0625     2.14285714 2.0625     1.70588235 4.06666667
 4.6        1.10526316 1.61111111 3.28571429 3.63636364 2.78571429
 1.26315789 1.9375     4.13333333 1.11764706 2.27272727 4.875
 1.93333333 1.4        4.4375     4.85714286 3.4        4.9
 1.5        1.3125     1.44444444 2.2        4.63636364 2.41666667
 1.75       2.4        1.3        2.86666667 1.71428571 1.88235294
 2.76923077 4.08333333 3.15384615 4.2        3.92307692 2.23076923
 4.42857143 4.28571429 2.91666667 2.1875     3.58333333 3.92857143
 2.69230769 3.8        4.4        1.90909091 1.92857143 1.8
 2.84615385 2.46666667 2.07692308 1.05882353 1.63636364 2.30769231
 2.57142857 3.35714286 3.41666667 1.4375     3.81818182 3.61538462
 1.54545455 4.46666667 4.07692308 4.8        3.84615385 1.91666667
 1.35294118 2.09090909 1.16666667 1.81818182 4.73333333 4.90909091
 3.64285714 3.07142857 3.54545455 4.71428571 1.82352941 1.36363636
 2.08333333 1.92307692 4.1        4.45454545 4.78571429 4.30769231
 1.2        2.21428571 4.53333333 2.54545455 1.38461538 3.09090909
 4.91666667 4.41666667 3.30769231 3.18181818 1.76923077 4.92857143
 3.21428571 1.875      2.63636364 2.81818182 3.78571429 4.57142857
 2.46153846 3.53333333 3.69230769 1.73333333 3.38461538 4.21428571
 1.13333333 1.05555556 1.08333333 3.7        1.76470588 2.45454545
 1.64285714]
my_work_unit [3.625      1.66666667 3.11111111 4.77777778 3.         2.28571429
 4.11111111 4.88888889 3.85714286 4.125      3.44444444 3.55555556
 5.         2.         4.55555556 2.33333333 3.66666667 3.875
 3.16666667 4.         2.88888889 3.88888889 2.85714286 4.22222222
 2.875      3.33333333 3.77777778 4.33333333 3.5        2.66666667
 4.375      3.375      4.75       2.55555556        nan 3.4
 3.71428571 4.66666667 1.55555556 2.8        3.125      4.44444444
 3.22222222 1.44444444 3.83333333 3.28571429 2.77777778 2.25
 4.25       2.11111111 3.75       3.25       2.44444444 1.88888889
 3.14285714 1.33333333 1.5        4.14285714 3.42857143 2.625
 4.16666667 1.11111111 2.375      2.42857143 4.57142857 2.22222222
 3.57142857 1.         1.77777778 4.5        2.75       2.57142857
 1.22222222 4.8        2.5        2.16666667 4.625      4.28571429
 4.83333333 4.875      1.25       1.71428571 2.125      4.4
 3.8        4.42857143 1.75       4.71428571 4.2        1.875
 2.4        3.6        1.83333333 2.6        4.85714286 3.2
 1.125      1.625      4.6        2.14285714 2.71428571 1.85714286
 2.83333333 1.375      1.57142857 1.42857143 1.28571429 1.4
 2.2        1.2        1.8        1.14285714 1.6        1.16666667]
my_organization [3.3        1.58333333 3.         4.69230769 2.38461538 4.61538462
 5.         4.         3.84615385 4.92307692 4.07692308 3.81818182
 3.61538462 2.41666667 2.76923077 4.15384615 3.30769231 3.58333333
 2.46153846 3.41666667 3.77777778 3.92307692 3.15384615 2.36363636
 3.27272727 3.69230769 3.76923077 2.75       3.23076923 3.53846154
 2.92307692 3.5        3.36363636 3.4        3.33333333 4.30769231
 4.76923077 4.23076923 2.         4.5        4.53846154 3.6
 3.38461538 2.84615385 4.125      3.07692308 2.77777778        nan
 2.66666667 2.81818182 4.46153846 3.46153846 2.88888889 1.92307692
 4.38461538 3.8        3.75       3.22222222 1.9        4.08333333
 3.72727273 2.25       3.83333333 4.77777778 2.30769231 4.84615385
 4.83333333 2.69230769 1.53846154 3.18181818 4.25       4.44444444
 1.66666667 1.45454545 3.25       3.90909091 3.66666667 3.11111111
 2.3        3.1        2.91666667 4.54545455 3.16666667 3.91666667
 3.85714286 4.58333333 1.15384615 4.36363636 2.15384615 4.66666667
 4.09090909 3.08333333 2.61538462 1.84615385 3.28571429 2.58333333
 2.07692308 4.33333333 2.16666667 2.33333333 4.2        1.69230769
 2.9        4.91666667 1.46153846 1.61538462 4.90909091 4.81818182
 3.54545455 2.83333333 2.53846154 4.55555556 2.6        3.45454545
 4.41666667 4.3        4.6        2.55555556 2.45454545 4.18181818
 4.625      1.63636364 1.91666667 4.16666667 4.22222222 2.5
 4.375      1.75       2.7        1.16666667 1.76923077 3.09090909
 1.2        2.875      1.30769231 3.9        2.28571429 3.625
 1.         4.72727273 2.23076923 2.90909091 1.23076923 2.11111111
 4.45454545 4.27272727 3.2        1.83333333 1.5        3.63636364
 4.1        1.72727273 3.7        3.44444444 2.72727273 2.8
 1.09090909 2.54545455 2.08333333 3.57142857 2.22222222 4.4
 1.4        1.6        2.09090909 3.875      3.88888889 4.11111111
 3.125      2.4        4.875      1.38461538 4.75       2.27272727
 2.85714286 3.55555556 1.77777778 2.625      4.63636364 1.08333333
 2.2        4.7        4.9        2.18181818 1.07692308 4.85714286
 2.14285714 2.63636364 3.71428571 4.8        2.57142857 1.44444444
 1.1        2.44444444 4.14285714 1.55555556 3.42857143 1.90909091
 1.7        1.41666667 1.81818182 1.54545455 2.125      4.28571429
 3.14285714 1.27272727 1.375      1.25       1.8        1.875
 3.375      2.42857143 1.36363636 2.1        1.11111111 1.85714286
 4.57142857 1.88888889 2.71428571 1.33333333 4.42857143 4.88888889
 1.3        1.18181818 2.375      1.625      1.22222222 1.71428571
 1.42857143 4.71428571 1.14285714 1.125      1.57142857]
my_supervisor [4.1        1.36363636 3.36363636 2.8        2.4        5.
 4.90909091 4.63636364 3.18181818 3.72727273 3.27272727 3.
 4.2        4.         2.36363636 3.8        4.09090909 3.81818182
 2.44444444 4.72727273 4.36363636 4.45454545 3.90909091 2.90909091
 3.45454545 3.33333333 4.54545455 2.9        2.72727273 4.81818182
 2.63636364 3.875      4.18181818        nan 2.09090909 4.27272727
 4.5        1.         3.09090909 3.7        3.2        1.90909091
 1.63636364 3.9        1.54545455 2.         3.75       3.4
 1.27272727 3.54545455 4.4        3.77777778 3.63636364 2.125
 1.9        2.81818182 2.54545455 3.3        1.72727273 1.18181818
 1.81818182 3.5        2.6        1.45454545 2.5        2.75
 2.7        2.45454545 4.44444444 2.27272727 4.6        1.8
 1.7        1.77777778 3.6        2.18181818 4.8        1.09090909
 1.5        2.2        2.55555556 2.77777778 3.11111111 4.9
 1.6        3.66666667 4.125      2.66666667 2.88888889 3.55555556
 2.3        2.83333333 3.22222222 4.14285714 4.66666667 3.1
 4.11111111 3.44444444 4.33333333 4.3        4.77777778 3.88888889
 2.28571429 4.28571429 2.22222222 4.7        2.1        2.11111111
 1.71428571 1.66666667 1.4        1.2        3.375      3.625
 2.14285714 4.83333333 4.375      1.33333333 1.3        3.16666667
 2.875      1.55555556 4.16666667 3.14285714 4.22222222 2.33333333
 3.25       4.75       1.75       3.125      1.1        2.25
 3.28571429 3.57142857 3.83333333 3.42857143 4.88888889 4.55555556
 2.85714286 4.625      2.71428571 1.22222222 1.88888889 4.875
 2.625      3.71428571 1.44444444 1.85714286 4.57142857 2.57142857
 1.28571429 4.71428571 3.85714286 2.42857143 4.85714286 4.42857143
 4.25       1.57142857 1.16666667 1.625      1.875      2.375
 2.16666667 1.375      1.25       1.11111111 1.42857143 1.83333333
 1.14285714 1.125     ]
leadership [3.25       1.7               nan 3.88888889 2.2        3.22222222
 4.8        4.33333333 4.4        4.1        3.8        3.625
 5.         3.9        2.1        4.9        2.9        2.3
 2.85714286 3.7        3.1        1.5        3.6        2.22222222
 4.         2.44444444 3.         3.77777778 2.28571429 4.7
 3.11111111 2.7        4.6        2.4        3.2        2.
 4.2        3.375      4.57142857 3.4        3.3        4.11111111
 2.88888889 1.9        3.85714286 3.5        2.8        4.3
 4.5        2.875      1.625      1.66666667 4.22222222 2.77777778
 4.25       2.66666667 3.66666667 2.625      2.5        3.55555556
 4.44444444 1.2        1.8        3.33333333 2.6        2.75
 1.         2.375      4.77777778 1.3        3.14285714 3.83333333
 4.88888889 2.11111111 1.1        3.42857143 1.25       2.125
 4.14285714 3.44444444 1.6        2.14285714 2.42857143 2.33333333
 1.33333333 3.75       4.625      4.875      1.4        1.55555556
 3.125      2.57142857 1.85714286 4.375      2.71428571 1.77777778
 2.16666667 4.16666667 1.44444444 3.875      1.88888889 3.28571429
 2.55555556 4.66666667 4.125      4.28571429 3.71428571 4.55555556
 2.25       3.57142857 1.22222222 1.71428571 1.14285714 3.16666667
 1.83333333 1.75       1.125      1.875      1.42857143 4.42857143
 4.85714286 2.83333333 1.57142857 4.83333333 4.75       1.375
 4.71428571 1.11111111 1.28571429 1.16666667]
my_satisfaction [3.22222222 1.66666667        nan 3.88888889 2.55555556 2.44444444
 4.66666667 4.88888889 4.22222222 4.11111111 5.         3.125
 2.22222222 2.33333333 3.66666667 2.77777778 3.         4.77777778
 3.5        4.         2.88888889 4.125      3.77777778 2.66666667
 4.55555556 3.11111111 4.33333333 2.         4.25       3.44444444
 3.55555556 3.33333333 2.11111111 1.77777778 2.5        1.44444444
 4.44444444 4.375      1.55555556 3.75       4.625      3.25
 1.22222222 3.625      2.375      1.11111111 3.71428571 1.
 3.875      2.875      1.33333333 1.88888889 3.375      4.5
 2.125      3.4        3.28571429 2.75       4.42857143 2.625
 3.8        2.71428571 4.75       4.875      2.25       3.42857143
 2.4        1.875      1.25       1.5        1.625      3.14285714
 1.75       1.125      3.83333333 2.85714286 3.57142857 2.28571429
 1.85714286 2.57142857 4.14285714 1.375      2.14285714 4.28571429
 4.57142857 3.85714286 3.6        2.16666667 4.71428571 4.6
 4.85714286 2.6        1.6        4.4        2.42857143 2.83333333
 2.8        3.2        1.83333333 4.2        1.57142857 1.42857143
 1.71428571]
circumstantial [1.83333333 1.44444444        nan 2.07142857 2.33333333 1.88888889
 3.         2.5        3.85714286 2.75       2.61904762 2.26190476
 4.0952381  2.16666667 2.         1.85714286 2.41666667 2.14285714
 1.8974359  2.64285714 2.42857143 2.57142857 2.78571429 2.25
 1.33333333 2.35714286 3.66666667 2.04761905 2.21428571 1.92857143
 2.83333333 1.         1.76190476 3.22222222 3.57142857 1.69230769
 1.69047619 1.75       1.64285714 2.66666667 3.23809524 2.92857143
 1.74358974 3.14285714 2.71428571 1.5        3.73809524 3.35714286
 2.52380952 1.83333333 2.38461538 3.07142857 4.57142857 2.07692308
 4.         2.4047619  1.78571429 2.9047619  4.33333333 4.21428571
 4.35714286 1.76923077 3.33333333 2.61538462 4.42857143 2.69047619
 1.84615385 1.97619048 1.91666667 3.02380952 3.21428571 3.75
 2.47619048 1.66666667 2.28571429 1.66666667 2.80952381 3.5
 4.5        2.08333333 3.25       2.33333333 2.02380952 3.71428571
 2.51282051 2.85714286 2.88095238 2.20512821 2.11904762 4.19047619
 1.80952381 2.77777778 2.15384615 2.69230769 1.71428571 2.19047619
 1.58974359 2.91666667 4.04761905 3.26190476 4.30769231 3.28571429
 4.07692308 2.73809524 4.47619048 2.05128205 4.14285714 2.30769231
 2.92307692 3.80952381 1.95238095 1.92307692 1.82051282 3.11904762
 3.16666667 3.19047619 3.41666667 1.52380952 3.16666667 1.79487179
 3.78571429 1.91666667 2.5952381  2.52380952 1.97435897 1.5952381
 2.88888889 4.16666667 3.69047619 4.28571429 3.38095238 1.88095238
 2.58974359 3.07692308 3.69230769 3.92857143 1.9047619  4.61904762
 2.23809524 1.63888889 3.04761905 2.38095238 3.88095238 2.30952381
 3.42857143 2.66666667 3.52380952 4.02380952 3.47619048 4.66666667
 2.45238095 3.4047619  3.38461538 3.33333333 2.76923077 2.28205128
 2.61904762 2.97619048 3.83333333 4.07142857 2.76190476 1.87179487
 1.73809524 3.53846154 4.5952381  1.61538462 2.54761905 3.64285714
 3.97619048 3.20512821 2.0952381  3.54761905 4.11904762 2.17948718
 4.92857143 2.82051282 2.47619048 2.58333333 3.95238095 2.4047619
 5.         2.58333333 2.95238095 3.0952381  1.41666667 2.48717949
 3.30769231 3.45238095 4.45238095 3.61904762 1.94871795 2.1025641
 2.23076923 2.8974359  1.58333333 3.30952381 3.76190476 3.08333333
 3.9047619  3.28205128 1.48717949 4.52380952 3.66666667 2.55555556
 4.23809524 3.46153846 2.46153846 4.38095238 1.45238095 3.82051282
 1.46153846 1.35714286 2.53846154 4.54761905 2.84615385 2.54761905
 1.54761905 1.56410256 4.26190476 1.25       2.22222222 1.53846154
 1.57142857 3.56410256 2.64102564 3.88888889 2.45238095 2.87179487
 3.15384615 3.58333333 3.61538462 2.35897436 3.23076923 1.61904762
 3.5952381  1.77777778 2.44444444 4.71428571 4.38461538 4.30952381
 4.64285714 3.48717949 4.78571429 3.71794872 2.5952381  2.02564103
 4.80952381 4.4047619  1.71794872 4.58333333 3.92307692 2.56410256
 4.11111111 2.08333333 2.38095238 4.33333333 4.84615385 3.91666667
 3.41025641 4.25       4.69230769 3.1025641  2.11111111 3.76923077
 3.8974359  3.02564103 4.46153846 1.42857143 4.1025641  2.43589744
 4.25641026 4.85714286 4.69047619 2.41025641 4.17948718 4.22222222
 2.79487179 2.97435897 3.58974359 1.64102564 3.55555556 2.74358974
 4.58974359 3.35897436 2.12820513 4.35897436 4.15384615 3.05128205
 2.83333333 4.23076923 3.12820513 3.17948718 3.74358974 3.11111111
 3.43589744 3.97435897 1.38461538 3.94871795 2.94871795 3.51282051
 4.53846154 2.71794872 3.25641026 3.87179487 2.25641026 4.55555556
 2.51282051 3.64102564 3.44444444 3.08333333 4.51282051 4.82051282
 2.72222222 3.58333333 4.91666667 4.20512821 3.84615385 4.71794872
 4.76190476 4.41025641 3.81818182 3.79487179 3.83333333 4.61538462
 4.08333333 4.73809524 4.43589744]
negativity_index [3.66666667 5.                nan 1.         2.33333333]

In [195]:
print(f"Shape of Data: {survey_2020.shape}")
print(survey_2020.columns.unique())
for column in survey_2020.columns:
    print(f"{column}: {survey_2020[column].unique()}")

#Year 2020 Question Bins

#Q1-Q8= My Work Experience 
# (Q1-Q4 has 1-5, after Q5 reponse options include 6th option 'X')

my_work_experience_columns=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8']

#Q9-Q13= My Work Unit
# (Q9 only includes 1-5 response options, rest are 6 options)
my_work_unit_columns=['Q9','Q10','Q11','Q12','Q13']

#Q14-Q18= My Agency --> (My Organization)
# (Q17 includes only 5 reponse options)
my_organization_columns=['Q14','Q15','Q16','Q17','Q18']

#Q19-Q25= My Supervisor
# (Q21-Q21 include 6 reponse options, Q22-Q25 have 6 )
my_supervisor_columns=['Q19','Q20','Q21','Q22','Q23','Q24','Q25']
#Q26-Q32= Leadership
# (all questions include 6 response options)
leadership_columns=['Q26','Q27','Q28','Q29','Q30','Q31','Q32']

#Q33-Q38= My Satisfaction
# (all questions include 5 reponse options)
my_satisfaction_columns=['Q33','Q34','Q35','Q36','Q37','Q38']

#V1-V5=Telework --> (Circumstantial)
##Create group V2 that includes V2A,V2B, V2C
##Create group V3 that includes V3_01, V3_02, V3_03
	##IF V3 THEN skip V4
#V6-V12= Employee Supports --> (Circumstantial)
##Create group V6 that includes V6_01-V6_14
#V13-V14= Work Supports --> (Circumstantial)
##Create group V13 that includes V13_01-V13_12
#V15-V20=Work-Effects --> (Circumstantial)
##Create group V17 that includes V17_01-V17_06
##Create group V18 that includes V18_01-V18_06
#V21-V24= "Covid Questions" --> (Circumstantial)
##Create group V21 that includes V21_01-V21_05
##Create group V22 that includes V22_01-V22_05

circumstantial_columns= ['V1','V2A','V2B','V2C','V3_01','V3_02','V3_03','V4','V5',
                                         'V6_01','V6_02','V6_03','V6_04','V6_05','V6_06','V6_07','V6_08','V6_09','V6_10','V6_11','V6_12','V6_13','V6_14','V7','V8','V9','V10','V11','V12',
                                         'V13_01','V13_02','V13_03','V13_04','V13_05','V13_06','V13_07','V13_08','V13_09','V13_10','V13_11','V13_12', 'V14',
                                         'V15','V16','V17_01','V17_02','V17_03','V17_04','V17_05','V17_06','V18_01','V18_02','V18_03','V18_04','V18_05','V18_06',
                                         'V19', 'V20','V21_01','V21_02','V21_03','V21_04','V21_05','V22_01','V22_02','V22_03','V22_04','V22_05', 'V23','V24']





# Questions 58 - 64 are work_life questions / or special --> (Employee Experience)
##Create group Q59 that includes Q59_01-Q59_06
employee_experience_columns = ['Q58','Q59_01','Q59_02','Q59_03','Q59_04','Q59_05','Q59_06','Q60','Q61','Q62','Q63','Q64']

#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2020['DEIA'] = 0


#Convert DLEAVING/DRETIRE to 1-5 
survey_2020['DLEAVINGB'].replace('A', 5, inplace=True)
survey_2020['DLEAVINGB'].replace('B', 4, inplace=True)
survey_2020['DLEAVINGB'].replace('C', 3, inplace=True)
survey_2020['DLEAVINGB'].replace('D', 2, inplace=True)




#Add DLEAVINGB and drop all other demographics 
#(This year includes 3 questions for DLEAVING 'Did you want to leave before covid?', leave today?, or decision to leave within the next year changed because of covid'
#   so the leaving question chosen was the one asking if someone wants to leave today which is closest to the question in previous years)
negativity_index_columns = ['DLEAVINGB']



# replace all values of x with 0

survey_2020.replace('X', np.nan, inplace=True)
survey_2020.replace('Y', np.nan, inplace=True)
#replace nan with 0
#survey_2020[my_work_experience_columns] = survey_2020[my_work_experience_columns].fillna(0)

# convert all values to numeric
survey_2020[my_work_experience_columns] = survey_2020[my_work_experience_columns].apply(pd.to_numeric)
survey_2020[my_work_unit_columns] = survey_2020[my_work_unit_columns].apply(pd.to_numeric)
survey_2020[my_organization_columns] = survey_2020[my_organization_columns].apply(pd.to_numeric)
survey_2020[my_supervisor_columns] = survey_2020[my_supervisor_columns].apply(pd.to_numeric)
survey_2020[leadership_columns] = survey_2020[leadership_columns].apply(pd.to_numeric)
survey_2020[my_satisfaction_columns] = survey_2020[my_satisfaction_columns].apply(pd.to_numeric)
survey_2020[employee_experience_columns] = survey_2020[employee_experience_columns].apply(pd.to_numeric)
survey_2020[circumstantial_columns] = survey_2020[circumstantial_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2020.columns:
    # check if numeric
    if survey_2020[col].dtype == 'int64' or survey_2020[col].dtype == 'float64':
        # scale to 1-5
        survey_2020[col] = scale_to_1_to_5(survey_2020[col])

# Average all of the values in the columns and drop the columns
survey_2020['my_work_experience'] = survey_2020[my_work_experience_columns].mean(axis=1)
survey_2020.drop(columns=my_work_experience_columns, inplace=True)

survey_2020['my_work_unit'] = survey_2020[my_work_unit_columns].mean(axis=1)
survey_2020.drop(columns=my_work_unit_columns, inplace=True)


survey_2020['my_organization'] = survey_2020[my_organization_columns].mean(axis=1)
survey_2020.drop(columns=my_organization_columns, inplace=True)

survey_2020['my_supervisor'] = survey_2020[my_supervisor_columns].mean(axis=1)
survey_2020.drop(columns=my_supervisor_columns, inplace=True)

survey_2020['leadership'] = survey_2020[leadership_columns].mean(axis=1)
survey_2020.drop(columns=leadership_columns, inplace=True)

survey_2020['my_satisfaction'] = survey_2020[my_satisfaction_columns].mean(axis=1)
survey_2020.drop(columns=my_satisfaction_columns, inplace=True)

survey_2020['employee_experience'] = survey_2020[employee_experience_columns].mean(axis=1)
survey_2020.drop(columns=employee_experience_columns, inplace=True)

survey_2020['negativity_index'] = survey_2020[negativity_index_columns].mean(axis=1)
survey_2020.drop(columns=negativity_index_columns, inplace=True)

survey_2020['circumstantial'] = survey_2020[circumstantial_columns].mean(axis=1)
survey_2020.drop(columns=circumstantial_columns, inplace=True)

excess_columns= ['RandomID','DRNO', 'DHISP','DDIS','DAGEGRP', 'DSUPER', 'DFEDTEN', 
       'DLEAVINGA','DLEAVINGC','DMIL', 'DSEX', 'POSTWT']
survey_2020.drop(columns=excess_columns, inplace=True)

#Review the dataframe with averaged categories
print(survey_2020.shape)
print(survey_2020.columns.unique())

Shape of Data: (206219, 134)
Index(['RandomID', 'agency', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
       ...
       'DDIS', 'DAGEGRP', 'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL', 'DLEAVINGA',
       'DLEAVINGB', 'DLEAVINGC', 'POSTWT'],
      dtype='object', length=134)
RandomID: [1.43122e+11 1.98451e+11 1.82950e+11 ... 1.13560e+11 1.56894e+11
 1.16368e+11]
agency: ['AR' 'AF' 'DD' 'NV']
Q1: [ 4.  5.  1.  2.  3. nan]
Q2: [ 4.  5.  3.  2. nan  1.]
Q3: [ 4.  5.  3.  2.  1. nan]
Q4: [ 4.  5.  1.  3.  2. nan]
Q5: ['3' '5' '2' '4' '1' nan 'X']
Q6: ['4' '5' '2' '3' '1' nan 'X' 2.0 1.0 3.0 5.0 4.0]
Q7: ['4' '5' nan '3' '2' '1' 'X']
Q8: ['3' '5' '4' '2' 'X' '1' nan]
Q9: [ 5.  4.  2.  3.  1. nan]
Q10: ['3' '1' '4' '5' 'X' '2' nan]
Q11: ['1' '2' 'X' '5' '3' '4' nan]
Q12: ['4' '5' '3' '2' 'X' '1' nan]
Q13: ['4' '5' '3' '1' '2' 'X' nan]
Q14: ['4' '5' '2' '3' 'X' '1' nan]
Q15: ['4' '1' '5' '2' '3' 'X' nan]
Q16: ['4' '5' '3' '1' '2' 'X' nan]
Q17: [ 4.  5.  3.  2.  1. nan]
Q18: ['2' '5' '4' '3' '1' 'X' nan]
Q19: ['4' '5' '2' '3' 'X' '1' nan]
Q20: ['3' '5' '4' '2' 'X' '1' nan]
Q21: ['4' '5' '2' '3' 'X' '1' nan 4.0 2.0 5.0 3.0 1.0]
Q22: [ 4.  5.  3.  2.  1. nan]
Q23: [ 5.  4.  3.  2.  1. nan]
Q24: [ 4.  5.  1.  2.  3. nan]
Q25: [ 5.  3.  4.  2.  1. nan]
Q26: ['3' '5' '4' '2' 'X' '1' nan]
Q27: ['3' '5' '4' '2' '1' 'X' nan]
Q28: ['4' '5' '2' '3' '1' nan 'X']
Q29: ['4' '5' '3' '2' '1' nan 'X']
Q30: ['4' '5' '3' '2' 'X' '1' nan]
Q31: ['3' '5' '4' nan '2' '1' 'X']
Q32: ['3' '5' '4' '1' '2' nan 'X']
Q33: [ 3.  5.  4.  2.  1. nan]
Q34: [ 3.  5.  4. nan  2.  1.]
Q35: [ 4.  5.  3.  2.  1. nan]
Q36: [ 5.  4.  3.  2. nan  1.]
Q37: [ 5.  4.  2.  3.  1. nan]
Q38: [ 4.  5.  2.  3.  1. nan]
V1: [ 2.  4.  3.  1. nan]
V2A: [ 3.  2.  1.  4.  5. nan]
V2B: [ 2.  1.  4. nan  5.  3.]
V2C: [ 3.  1.  5.  4.  2. nan]
V3_01: [ 0. nan  1.]
V3_02: [ 1.  0. nan]
V3_03: [ 0.  1. nan]
V4: [ 2. nan  1.]
V5: [ 3.  1.  2. nan]
V6_01: [ 1.  3.  2. nan]
V6_02: [ 1.  3.  2. nan]
V6_03: [ 3.  1.  2. nan]
V6_04: [ 3.  1.  2. nan]
V6_05: [ 3.  1.  2. nan]
V6_06: [ 3.  1.  2. nan]
V6_07: [ 1.  3.  2. nan]
V6_08: [ 1.  3.  2. nan]
V6_09: [ 1.  3.  2. nan]
V6_10: [ 1.  3.  2. nan]
V6_11: [ 1.  3.  2. nan]
V6_12: [ 1.  3.  2. nan]
V6_13: [ 1.  3.  2. nan]
V6_14: [ 1.  3.  2. nan]
V7: ['4' '5' '3' '2' '1' 'X' nan]
V8: ['4' '5' '1' '3' '2' nan 'X']
V9: ['4' '5' '1' '2' nan '3' 'X']
V10: ['4' '5' '1' '3' 'X' nan '2']
V11: ['4' '5' '2' '1' '3' 'X' nan]
V12: ['4' '5' '3' '1' '2' nan 'X']
V13_01: [ 1.  2.  3. nan]
V13_02: [ 1.  2.  3. nan]
V13_03: [ 1.  3.  2. nan]
V13_04: [ 1.  3.  2. nan]
V13_05: [ 3.  1.  2. nan]
V13_06: [ 1.  3.  2. nan]
V13_07: [ 1.  3.  2. nan]
V13_08: [ 1.  2.  3. nan]
V13_09: [ 1.  3. nan  2.]
V13_10: [ 2.  1.  3. nan]
V13_11: [ 1.  3.  2. nan]
V13_12: [ 1.  3.  2. nan]
V14: [ 2. nan  3.  1.]
V15: ['3' '5' '2' '4' nan 'X' '1']
V16: ['2' '1' '3' '4' nan 'X' '5']
V17_01: ['4' '5' '3' nan '2' 'X' '1']
V17_02: ['4' '5' '3' nan '2' 'X' '1']
V17_03: ['4' '5' '3' nan '2' 'X' '1']
V17_04: ['4' '5' '3' '2' nan 'X' '1']
V17_05: ['4' '5' '3' nan '1' '2' 'X']
V17_06: ['4' '5' '3' nan '2' 'X' '1']
V18_01: ['4' '5' '3' '1' nan '2' 'X']
V18_02: ['4' '5' '3' '1' nan '2' 'X']
V18_03: ['4' '5' '3' '1' nan '2' 'X']
V18_04: ['4' '5' '3' '1' nan '2' 'X']
V18_05: ['4' '5' '3' '1' nan '2' 'X']
V18_06: ['4' '5' '3' '1' nan '2' 'X']
V19: ['4' '5' 'X' '2' '1' '3' nan]
V20: ['4' '5' '1' '2' '3' nan 'X']
Q58: ['5' '4' '2' 'X' '1' '3' nan]
Q59_01: [ 1.  0. nan]
Q59_02: [ 0.  1. nan]
Q59_03: [ 0.  1. nan]
Q59_04: [ 0.  1. nan]
Q59_05: [ 0. nan  1.]
Q59_06: [ 0.  1. nan]
Q60: ['5' '4' '3' 'X' '1' '2' nan]
Q61: ['X' '5' '2' '3' '1' '4' nan]
Q62: ['X' '4' '3' '5' '2' nan '1']
Q63: ['X' '2' '3' '4' '5' nan '1']
Q64: ['X' '2' '3' '5' '4' nan '1']
V21_01: [ 1.  0. nan]
V21_02: [ 0.  1. nan]
V21_03: [ 0.  1. nan]
V21_04: [ 0.  1. nan]
V21_05: [ 0.  1. nan]
V22_01: [ 1. nan  0.]
V22_02: [ 0. nan  1.]
V22_03: [ 0. nan  1.]
V22_04: [ 0. nan  1.]
V22_05: [ 0. nan  1.]
V23: ['4' '1' '3' 'X' 'Y' '5' '2' nan]
V24: ['X' '2' '1' 'Y' '5' '3' '4' nan]
DRNO: [nan 'B' 'C' 'A' 'D']
DHISP: [nan 'A' 'B']
DDIS: ['B' 'A' nan]
DAGEGRP: [nan 'A' 'B']
DSUPER: ['A' 'B' nan]
DFEDTEN: ['C' 'A' 'B' nan]
DSEX: [nan 'B' 'A']
DMIL: ['B' 'A' nan]
DLEAVINGA: ['A' 'C' 'D' nan 'B']
DLEAVINGB: ['B' 'A' 'C' nan 'D']
DLEAVINGC: ['B' nan 'A']
POSTWT: [1.46319845 1.48870695 1.75285312 ... 0.8989416  0.81025851 1.72714634]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(206219, 11)
Index(['agency', 'DEIA', 'my_work_experience', 'my_work_unit',
       'my_organization', 'my_supervisor', 'leadership', 'my_satisfaction',
       'employee_experience', 'negativity_index', 'circumstantial'],
      dtype='object')

In [196]:
print(f"Shape of Data: {survey_2021.shape}")
print(survey_2021.columns.unique())
for column in survey_2021.columns:
    print(f"{column}: {survey_2021[column].unique()}")

# Questions 1- 8 are my_work_experience questions
my_work_experience_columns = ['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8']

# Questions 9 - 19 are my_work_unit questions
my_work_unit_columns = ['Q9','Q10','Q11','Q12','Q13','Q14','Q15','Q16','Q17','Q18','Q19']

# Questions 20 - 24 are my_organization questions
my_organization_columns = ['Q20','Q21','Q22','Q23','Q24']

# Questions 25 - 31 and 51 - 53 are my_supervisor questions
my_supervisor_columns = ['Q25','Q26','Q27','Q28','Q29','Q30','Q31','Q51','Q52','Q53']

# Questions 32 - 38, 48 - 50, and 55 are leadership questions
leadership_columns = ['Q32','Q33','Q34','Q35','Q36','Q37','Q38','Q48','Q49','Q50','Q55']

# Questions 39 - 44 are my_satisfaction questions
my_satisfaction_columns = ['Q39','Q40','Q41','Q42','Q43','Q44']

# Questions 45 - 47, 54, 56, and 57 are Pandemic, Transition to the Worksite, Workplace Flexibilities questions (Circumstantial)
circumstantial_columns = ['Q45','Q46','Q47_01',
       'Q47_02', 'Q47_03', 'Q47_04', 'Q47_05', 'Q47_06', 'Q47_07', 'Q47_08',
       'Q47_09', 'Q47_10', 'Q47_11','Q54','Q56','Q57']

#Add Employee Experience with sets of zero
survey_2021['employee_experience'] = 0
#Add Diversity, Equity, Inclusion, and Accessibility with sets of zero
survey_2021['DEIA'] = 0
#Add DLEAVING and drop all other demographics
survey_2021['DLEAVING'].replace('A', 5, inplace=True)
survey_2021['DLEAVING'].replace('B', 4, inplace=True)
survey_2021['DLEAVING'].replace('C', 3, inplace=True)
survey_2021['DLEAVING'].replace('D', 2, inplace=True)

negativity_index_columns = ['DLEAVING']

survey_2021.replace('X', np.nan, inplace=True)
survey_2021.replace('Y', np.nan, inplace=True)

# convert all values to numeric
survey_2021[my_work_experience_columns] = survey_2021[my_work_experience_columns].apply(pd.to_numeric)
survey_2021[my_work_unit_columns] = survey_2021[my_work_unit_columns].apply(pd.to_numeric)
survey_2021[my_organization_columns] = survey_2021[my_organization_columns].apply(pd.to_numeric)
survey_2021[my_supervisor_columns] = survey_2021[my_supervisor_columns].apply(pd.to_numeric)
survey_2021[leadership_columns] = survey_2021[leadership_columns].apply(pd.to_numeric)
survey_2021[my_satisfaction_columns] = survey_2021[my_satisfaction_columns].apply(pd.to_numeric)
survey_2021[circumstantial_columns] = survey_2021[circumstantial_columns].apply(pd.to_numeric)
survey_2021[negativity_index_columns] = survey_2021[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2021.columns:
    # check if numeric
    if survey_2021[col].dtype == 'int64' or survey_2021[col].dtype == 'float64':
        # scale to 1-5
        survey_2021[col] = scale_to_1_to_5(survey_2021[col])

# Average all of the values in the columns and drop the columns
survey_2021['my_work_experience'] = survey_2021[my_work_experience_columns].mean(axis=1)
survey_2021.drop(columns=my_work_experience_columns, inplace=True)

survey_2021['my_work_unit'] = survey_2021[my_work_unit_columns].mean(axis=1)
survey_2021.drop(columns=my_work_unit_columns, inplace=True)

survey_2021['my_organization'] = survey_2021[my_organization_columns].mean(axis=1)
survey_2021.drop(columns=my_organization_columns, inplace=True)

survey_2021['my_supervisor'] = survey_2021[my_supervisor_columns].mean(axis=1)
survey_2021.drop(columns=my_supervisor_columns, inplace=True)

survey_2021['leadership'] = survey_2021[leadership_columns].mean(axis=1)
survey_2021.drop(columns=leadership_columns, inplace=True)

survey_2021['my_satisfaction'] = survey_2021[my_satisfaction_columns].mean(axis=1)
survey_2021.drop(columns=my_satisfaction_columns, inplace=True)

survey_2021['circumstantial'] = survey_2021[circumstantial_columns].mean(axis=1)
survey_2021.drop(columns=circumstantial_columns, inplace=True)

survey_2021['negativity_index'] = survey_2021[negativity_index_columns].mean(axis=1)
survey_2021.drop(columns=negativity_index_columns, inplace=True)

excess_columns= ['DRNO', 'DHISP', 'DDIS', 'DAGEGRP',
       'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL', 'POSTWT', 'RandomID']

survey_2021.drop(columns=excess_columns, inplace=True)

#Review the dataframe with averaged categories
print(survey_2021.shape)
print(survey_2021.columns.unique())

Shape of Data: (87776, 79)
Index(['RandomID', 'agency', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
       'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18',
       'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28',
       'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38',
       'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47_01',
       'Q47_02', 'Q47_03', 'Q47_04', 'Q47_05', 'Q47_06', 'Q47_07', 'Q47_08',
       'Q47_09', 'Q47_10', 'Q47_11', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53',
       'Q54', 'Q55', 'Q56', 'Q57', 'DRNO', 'DHISP', 'DDIS', 'DAGEGRP',
       'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL', 'DLEAVING', 'POSTWT'],
      dtype='object')
RandomID: [197365764014 182219263576 198451292187 ... 156588616760 151155684539
 130523501770]
agency: ['AR' 'AF' 'DD' 'NV']
Q1: [ 2.  4.  5.  3.  1. nan]
Q2: [ 2.  4.  1.  5.  3. nan]
Q3: [ 5.  4.  2.  3.  1. nan]
Q4: [ 5.  4.  3.  2.  1. nan]
Q5: ['4' '5' '3' '1' '2' nan 'X']
Q6: ['2' '4' '5' nan '1' '3' 'X']
Q7: ['5' '4' '3' '2' nan 'X' '1']
Q8: ['3' '4' '5' '2' '1' 'X' nan]
Q9: [ 5.  4.  3.  2.  1. nan]
Q10: ['4' '3' '2' '1' '5' 'X' nan]
Q11: ['4' '2' '5' 'X' '1' '3' nan]
Q12: ['4' '3' '2' '5' 'X' '1' nan]
Q13: ['5' '4' '3' '2' 'X' nan '1']
Q14: ['5' '4' '2' 'X' '3' '1' nan]
Q15: ['5' '4' '3' 'X' nan '2' '1']
Q16: ['5' '4' '3' 'X' '2' '1' nan]
Q17: ['5' '4' '3' '2' 'X' nan '1']
Q18: ['5' '4' '3' nan '2' 'X' '1']
Q19: ['5' '4' '3' 'X' '2' '1' nan]
Q20: ['4' '2' '1' '5' '3' 'X' nan]
Q21: ['5' '4' '3' '1' 'X' '2' nan]
Q22: ['5' '4' '3' '2' 'X' nan '1']
Q23: [ 2.  4.  3.  5.  1. nan]
Q24: ['1' '4' '2' '3' '5' 'X' nan]
Q25: ['5' '4' '3' '2' 'X' '1' nan]
Q26: ['4' '5' '3' '2' 'X' '1' nan]
Q27: ['5' '4' '3' '2' 'X' '1' nan]
Q28: [ 5.  4.  3.  2. nan  1.]
Q29: [ 5.  4.  3.  2.  1. nan]
Q30: [ 5.  4.  3.  1.  2. nan]
Q31: [ 4.  5.  3.  2.  1. nan]
Q32: ['1' '4' '3' '2' '5' 'X' nan]
Q33: ['1' '4' '3' '5' '2' 'X' nan]
Q34: ['5' '4' '3' '2' '1' 'X' nan]
Q35: ['2' '4' '3' '5' '1' 'X' nan]
Q36: ['1' '4' '3' '5' '2' 'X' nan]
Q37: ['2' '4' '3' '5' 'X' '1' nan]
Q38: ['3' '4' 'X' '5' '1' '2' nan]
Q39: [ 4.  2.  3.  5.  1. nan]
Q40: [ 4.  3.  2.  5.  1. nan]
Q41: [ 2.  4.  5.  3. nan  1.]
Q42: [ 3.  4.  5.  1.  2. nan]
Q43: [ 4.  1.  2.  3.  5. nan]
Q44: [ 3.  4.  5.  2.  1. nan]
Q45: [ 2.  1.  3.  4. nan]
Q46: [ 2.  5.  4.  1.  3. nan]
Q47_01: [ 2.  3.  1. nan]
Q47_02: [ 1.  3. nan  2.]
Q47_03: [ 1.  3.  2. nan]
Q47_04: [ 1.  3.  2. nan]
Q47_05: [ 1.  3. nan  2.]
Q47_06: [ 1.  3.  2. nan]
Q47_07: [ 2.  1.  3. nan]
Q47_08: [ 1.  3.  2. nan]
Q47_09: [ 1.  3.  2. nan]
Q47_10: [ 1.  3.  2. nan]
Q47_11: [ 2.  1.  3. nan]
Q48: ['1' '4' '3' '5' 'X' '2' nan]
Q49: ['1' '4' '3' '5' 'X' '2' nan]
Q50: ['1' '4' '3' '5' 'X' '2' nan]
Q51: ['5' '4' '3' '2' nan '1' 'X']
Q52: ['5' '4' '3' '2' nan 'X' '1']
Q53: ['5' '4' '3' '2' nan '1' 'X']
Q54: [ 2.  1.  3. nan]
Q55: ['3' '4' '5' '1' '2' nan 'X']
Q56: ['1' '4' '3' '5' '2' 'X' nan]
Q57: ['1' '4' '5' '3' '2' nan 'X']
DRNO: [nan 'B' 'D' 'C' 'A']
DHISP: [nan 'B' 'A']
DDIS: [nan 'B' 'A']
DAGEGRP: [nan 'B' 'A']
DSUPER: ['B' 'A' nan]
DFEDTEN: ['C' 'A' 'B' nan]
DSEX: [nan 'A' 'B']
DMIL: [nan 'A' 'B']
DLEAVING: ['C' 'A' 'B' 'D' nan]
POSTWT: [3.14416613 2.12668651 1.85135656 ... 4.04853101 3.40482133 5.22059145]

C:\Users\raymm\AppData\Local\Temp\ipykernel_21992\754374281.py:26: RuntimeWarning: invalid value encountered in longlong_scalars
  scaled_value = 1 + ((value - min_value) / (max_value - min_value)) * 4

(87776, 11)
Index(['agency', 'employee_experience', 'DEIA', 'my_work_experience',
       'my_work_unit', 'my_organization', 'my_supervisor', 'leadership',
       'my_satisfaction', 'circumstantial', 'negativity_index'],
      dtype='object')

In [197]:
print(f"Shape of Data: {survey_2022.shape}")
print(survey_2022.columns.unique())
for column in survey_2022.columns:
    print(f"{column}: {survey_2022[column].unique()}")

# Question 1-13 My Work Experience
my_work_experience_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
                                'Q9', 'Q10', 'Q11', 'Q12', 'Q13']

# Question 14-34 My Work Unit
my_work_unit_columns = ['Q14', 'Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q15_5', 'Q15_6',
                 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21',
                'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29',
                'Q30', 'Q31', 'Q32', 'Q33', 'Q34']

# Question 35-44 My Organization
my_organization_columns = ['Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42',
                    'Q43', 'Q44']

# Question 45-54 My Supervisor
my_supervisor_columns = ['Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
                'Q53', 'Q54']

# Question 55-64 Leadership
leadership_columns = ['Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62',
                'Q63', 'Q64']

# Question 65-70 My Satisfaction
my_satisfaction_columns = ['Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70']

# Question 71-84 Diversity, Equity, Inclusion, and Accessibility
DEIA_columns = ['Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
        'Q80', 'Q81', 'Q82', 'Q83', 'Q84']

# Question 85-89 Employee Experience
employee_experience_columns = ['Q85', 'Q86', 'Q87', 'Q88', 'Q89']

# Question 90-99 Pandemic, Transition to the Worksite, Workplace Flexibilities (Circumstantial)
circumstantial_columns = ['Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
                'Q98', 'Q99']

#Add DLEAVING
negativity_index_columns = ['DLEAVING']

#Add DLEAVING/DRETIRE and drop all other demographics
survey_2022['DLEAVING'].replace('A', 5, inplace=True)
survey_2022['DLEAVING'].replace('B', 4, inplace=True)
survey_2022['DLEAVING'].replace('C', 3, inplace=True)
survey_2022['DLEAVING'].replace('D', 2, inplace=True)

# replace all x and y values with 0
survey_2022.replace('X', np.nan, inplace=True)
survey_2022.replace('Y', np.nan, inplace=True)

# convert all values to numeric
survey_2022[my_work_experience_columns] = survey_2022[my_work_experience_columns].apply(pd.to_numeric)
survey_2022[my_work_unit_columns] = survey_2022[my_work_unit_columns].apply(pd.to_numeric)
survey_2022[my_organization_columns] = survey_2022[my_organization_columns].apply(pd.to_numeric)
survey_2022[my_supervisor_columns] = survey_2022[my_supervisor_columns].apply(pd.to_numeric)
survey_2022[leadership_columns] = survey_2022[leadership_columns].apply(pd.to_numeric)
survey_2022[my_satisfaction_columns] = survey_2022[my_satisfaction_columns].apply(pd.to_numeric)
survey_2022[DEIA_columns] = survey_2022[DEIA_columns].apply(pd.to_numeric)
survey_2022[employee_experience_columns] = survey_2022[employee_experience_columns].apply(pd.to_numeric)
survey_2022[circumstantial_columns] = survey_2022[circumstantial_columns].apply(pd.to_numeric)
survey_2022[negativity_index_columns] = survey_2022[negativity_index_columns].apply(pd.to_numeric)

#scale all columns to 1-5
for col in survey_2022.columns:
    # check if numeric
    if survey_2022[col].dtype == 'int64' or survey_2022[col].dtype == 'float64':
        # scale to 1-5
        survey_2022[col] = scale_to_1_to_5(survey_2022[col])

# Average all of the values in the columns and drop the columns
survey_2022['my_work_experience'] = survey_2022[my_work_experience_columns].mean(axis=1)
survey_2022.drop(columns=my_work_experience_columns, inplace=True)

survey_2022['my_work_unit'] = survey_2022[my_work_unit_columns].mean(axis=1)
survey_2022.drop(columns=my_work_unit_columns, inplace=True)

survey_2022['my_organization'] = survey_2022[my_organization_columns].mean(axis=1)
survey_2022.drop(columns=my_organization_columns, inplace=True)

survey_2022['my_supervisor'] = survey_2022[my_supervisor_columns].mean(axis=1)
survey_2022.drop(columns=my_supervisor_columns, inplace=True)

survey_2022['leadership'] = survey_2022[leadership_columns].mean(axis=1)
survey_2022.drop(columns=leadership_columns, inplace=True)

survey_2022['my_satisfaction'] = survey_2022[my_satisfaction_columns].mean(axis=1)
survey_2022.drop(columns=my_satisfaction_columns, inplace=True)

survey_2022['DEIA'] = survey_2022[DEIA_columns].mean(axis=1)
survey_2022.drop(columns=DEIA_columns, inplace=True)

survey_2022['employee_experience'] = survey_2022[employee_experience_columns].mean(axis=1)
survey_2022.drop(columns=employee_experience_columns, inplace=True)

survey_2022['circumstantial'] = survey_2022[circumstantial_columns].mean(axis=1)
survey_2022.drop(columns=circumstantial_columns, inplace=True)

survey_2022['negativity_index'] = survey_2022[negativity_index_columns].mean(axis=1)
survey_2022.drop(columns=negativity_index_columns, inplace=True)

excess_columns= ['DRNO', 'DHISP', 'DDIS', 'DAGEGRP', 'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL',
       'POSTWT', 'RandomID']

survey_2022.drop(columns=excess_columns, inplace=True)

print(survey_2022.shape)
print(survey_2022.columns.unique())

Shape of Data: (163247, 116)
Index(['RandomID', 'agency', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8',
       ...
       'DRNO', 'DHISP', 'DDIS', 'DAGEGRP', 'DSUPER', 'DFEDTEN', 'DSEX', 'DMIL',
       'DLEAVING', 'POSTWT'],
      dtype='object', length=116)
RandomID: [1.79261e+11 1.75161e+11 1.94117e+11 ... 1.98340e+11 1.55359e+11
 1.88873e+11]
agency: ['AR' 'AF' 'DD' 'NV']
Q1: [ 3.  5.  4.  1.  2. nan]
Q2: [ 3.  4.  5.  1. nan  2.]
Q3: [ 4.  5.  3.  2.  1. nan]
Q4: [ 5.  3.  4.  2. nan  1.]
Q5: [ 4.  5.  2.  3.  1. nan]
Q6: [ 3.  4.  5.  2.  1. nan]
Q7: [ 4.  5.  3.  2. nan  1.]
Q8: ['3' '5' '4' 'X' '2' '1' nan]
Q9: [ 4.  5.  2.  3.  1. nan]
Q10: [ 4.  5.  2.  1.  3. nan]
Q11: [ 5.  3.  4.  2.  1. nan]
Q12: ['1' '2' '5' '4' '3' 'X' nan]
Q13: [ 5.  3.  4.  2.  1. nan]
Q14: [ 5.  2.  4.  3.  1. nan]
Q15_1: [ 1.  0. nan]
Q15_2: [ 0.  1. nan]
Q15_3: [ 0.  1. nan]
Q15_4: [ 0.  1. nan]
Q15_5: [ 0.  1. nan]
Q15_6: [ 0.  1. nan]
Q16: ['4' '2' '3' '5' 'X' '1' nan]
Q17: ['5' '4' '3' '2' nan '1' 'X']
Q18: ['5' '4' '2' '3' '1' 'X' nan]
Q19: ['4' '5' '2' '3' 'X' '1' nan]
Q20: ['4' '5' '3' '2' nan 'X' '1']
Q21: ['4' '5' '2' '3' 'X' nan '1']
Q22: ['4' '5' '2' '3' nan 'X' '1']
Q23: ['5' '4' '3' '2' 'X' '1' nan]
Q24: [ 5.  4.  3.  1.  2. nan]
Q25: [ 4.  5.  3.  2.  1. nan]
Q26: ['X' '4' '5' '1' '2' '3' nan]
Q27: ['3' '4' '5' '2' '1' nan 'X']
Q28: ['4' '2' '1' '5' '3' 'X' nan]
Q29: ['3' '4' nan '2' '5' '1' 'X']
Q30: [nan '4' '3' '2' '1' '5' 'X']
Q31: ['5' '4' '1' '2' '3' nan 'X']
Q32: ['3' '4' '2' '5' '1' 'X' nan]
Q33: ['4' '5' '2' '1' '3' 'X' nan]
Q34: ['3' '5' '4' 'X' '1' '2' nan]
Q35: ['5' '4' '3' '1' '2' 'X' nan]
Q36: ['5' '4' '1' '3' 'X' '2' nan]
Q37: ['4' '5' '3' '2' 'X' '1' nan]
Q38: [ 4.  5.  3.  2.  1. nan]
Q39: ['X' '5' '4' '3' '2' '1' nan]
Q40: ['4' '5' 'X' '3' '1' nan '2']
Q41: ['4' '5' '3' nan '2' '1' 'X']
Q42: ['4' '5' '3' '1' '2' nan 'X']
Q43: [ 3.  5.  4.  1.  2. nan]
Q44: ['4' '5' '2' '1' '3' nan 'X']
Q45: ['3' '5' '4' '1' nan 'X' '2']
Q46: ['4' '5' '3' '1' nan '2' 'X']
Q47: [ 4.  5.  3.  1. nan  2.]
Q48: [ 5.  4.  1.  3. nan  2.]
Q49: [ 5.  4.  1. nan  3.  2.]
Q50: [ 5.  4.  2.  3.  1. nan]
Q51: [ 4.  5.  3.  1. nan  2.]
Q52: [ 5.  3.  1.  4. nan  2.]
Q53: [ 4.  5.  2.  3.  1. nan]
Q54: ['3' '5' '1' '4' '2' nan 'X']
Q55: ['3' '5' '2' '4' '1' nan 'X']
Q56: ['3' '4' 'X' '5' '2' nan '1']
Q57: ['2' '3' '4' '5' '1' nan 'X']
Q58: ['3' '5' '2' '4' nan '1' 'X']
Q59: ['4' '3' '5' '2' '1' 'X' nan]
Q60: ['5' '4' '3' '2' nan '1' 'X']
Q61: ['5' '4' 'X' '2' '3' nan '1']
Q62: ['4' '5' '3' '1' nan '2' 'X']
Q63: ['4' '3' '5' '2' '1' nan 'X']
Q64: ['3' '4' '5' '1' '2' nan 'X']
Q65: [ 4.  5.  3.  1.  2. nan]
Q66: [ 4.  5.  3.  2. nan  1.]
Q67: [ 3.  5.  4.  1. nan  2.]
Q68: [ 4.  5.  3.  2. nan  1.]
Q69: [ 2.  5.  4.  3.  1. nan]
Q70: [ 4.  5.  3.  2. nan  1.]
Q71: ['X' '4' '5' '3' '2' nan '1']
Q72: ['X' '5' '3' '4' nan '1' '2']
Q73: ['X' '4' '5' '3' '2' '1' nan]
Q74: ['4' '5' 'X' '3' '2' '1' nan]
Q75: ['4' '5' '1' '3' '2' nan 'X']
Q76: ['5' '4' '3' nan '2' 'X' '1']
Q77: ['5' '4' '3' nan '2' '1' 'X']
Q78: ['5' '4' '3' '2' nan 'X' '1']
Q79: ['5' '4' '3' '1' nan '2' 'X']
Q80: ['5' '4' '3' nan 'X' '1' '2']
Q81: ['5' '4' 'X' '3' nan '2' '1']
Q82: ['Y' '5' '4' 'X' '2' '3' nan '1']
Q83: ['Y' 'X' '4' '5' '2' '3' nan '1']
Q84: ['Y' 'X' '4' '5' '2' '3' nan '1']
Q85: [ 4.  5.  3.  1.  2. nan]
Q86: [ 4.  5. nan  3.  2.  1.]
Q87: [ 3.  5.  4.  1.  2. nan]
Q88: [ 3.  5.  4.  2. nan  1.]
Q89: [ 3.  5.  4. nan  2.  1.]
Q90: [ 1.  3.  4.  2. nan]
Q91: [ 3.  2.  1.  4. nan]
Q92: [ 2.  1. nan]
Q93: [ 1.  5.  4. nan  6.  2.  3.]
Q94: ['X' '4' '5' '1' '3' '2' nan]
Q95: [ 1.  2.  3. nan  4.]
Q96: ['4' '5' '1' '2' nan 'X' '3']
Q97: ['4' '5' 'X' '3' '1' '2' nan]
Q98: ['4' '5' '3' '1' nan 'X' '2']
Q99: ['4' '5' '3' '1' nan 'X' '2']
DRNO: [nan 'B' 'D' 'A' 'C']
DHISP: [nan 'B' 'A']
DDIS: [nan 'B' 'A']
DAGEGRP: [nan 'B' 'A']
DSUPER: [nan 'A' 'B']
DFEDTEN: [nan 'A' 'C' 'B']
DSEX: [nan 'A' 'B']
DMIL: [nan 'B' 'A']
DLEAVING: [nan 'A' 'B' 'C' 'D']
POSTWT: [1.87813458 1.81116655 1.54303172 ... 7.69616064 5.86982829 4.65004057]
(163247, 11)
Index(['agency', 'my_work_experience', 'my_work_unit', 'my_organization',
       'my_supervisor', 'leadership', 'my_satisfaction', 'DEIA',
       'employee_experience', 'circumstantial', 'negativity_index'],
      dtype='object')

In [198]:
#add each year as a column to each survey
survey_2010['year'] = 2010
survey_2011['year'] = 2011
survey_2012['year'] = 2012
survey_2013['year'] = 2013
survey_2014['year'] = 2014
survey_2015['year'] = 2015
survey_2016['year'] = 2016
survey_2017['year'] = 2017
survey_2018['year'] = 2018
survey_2019['year'] = 2019
survey_2020['year'] = 2020
survey_2021['year'] = 2021
survey_2022['year'] = 2022

# set the column order
column_order = ['year', 'agency', 'my_work_experience', 'my_work_unit', 'my_organization', 'my_supervisor',
                'leadership', 'my_satisfaction', 'employee_experience', 'circumstantial', 'DEIA',
                'negativity_index']

# reorder the columns
survey_2010 = survey_2010[column_order]
survey_2011 = survey_2011[column_order]
survey_2012 = survey_2012[column_order]
survey_2013 = survey_2013[column_order]
survey_2014 = survey_2014[column_order]
survey_2015 = survey_2015[column_order]
survey_2016 = survey_2016[column_order]
survey_2017 = survey_2017[column_order]
survey_2018 = survey_2018[column_order]
survey_2019 = survey_2019[column_order]
survey_2020 = survey_2020[column_order]
survey_2021 = survey_2021[column_order]
survey_2022 = survey_2022[column_order]

In [199]:
# create a dataframe that compares the columns of each survey

all_year_columns = pd.DataFrame(columns=['2010', '2011', '2012', '2013', '2014', '2015', '2016',
                                            '2017', '2018', '2019', '2020', '2021', '2022'])
for year in all_year_columns.columns:
    # calculate the maximum number of columns
    max_col = max(survey_2010.shape[1], survey_2011.shape[1], survey_2012.shape[1], survey_2013.shape[1],
                  survey_2014.shape[1], survey_2015.shape[1], survey_2016.shape[1], survey_2017.shape[1],
                  survey_2018.shape[1], survey_2019.shape[1], survey_2020.shape[1], survey_2021.shape[1],
                  survey_2022.shape[1])
    # if the number of columns is less than the maximum, add empty columns as a null value
    survey = eval(f'survey_{year}')
    for i in range(max_col - survey.shape[1]):
        survey[f'empty_{i}'] = np.nan
    # add the columns of the survey to the dataframe
    all_year_columns[year] = survey.columns.unique()

    # create a text file that contains all unique column values for each column in each survey, append to the file
    with open('Resources/year_column_values.txt', 'a') as f:
        f.write(f'\n{year}\n')
        for column in survey.columns:
            f.write(f'{column}: {survey[column].unique()}\n')
    
all_year_columns.to_csv('Resources/all_year_columns.csv', index=False)

In [200]:
# combine all of the surveys into one dataframe

all_surveys = pd.concat([survey_2010, survey_2011, survey_2012, survey_2013, survey_2014, survey_2015,
                            survey_2016, survey_2017, survey_2018, survey_2019, survey_2020, survey_2021,
                            survey_2022], ignore_index=True)

In [285]:
#read in all end strength csvs and combine into one dataframe 2008-2023
end_strength_2008 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_200809.csv')
end_strength_2009 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_200909.csv')
end_strength_2010 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201009.csv')
end_strength_2011 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201109.csv')
end_strength_2012 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201209.csv')
end_strength_2013 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201309.csv')
end_strength_2014 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201409.csv')
end_strength_2015 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201509.csv')
end_strength_2016 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201609.csv')
end_strength_2017 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201709.csv')
end_strength_2018 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201809.csv')
end_strength_2019 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_201909.csv')
end_strength_2020 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_202009.csv')
end_strength_2021 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_202109.csv')
end_strength_2022 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_202209.csv')
end_strength_2023 = pd.read_csv('Resources/end_strength/AD_Strengths_Cleaned_202309.csv')

# add a Space Force column to each dataframe before 2023
for year in range(2008, 2023):
    eval(f'end_strength_{year}')['Space Force'] = 0

#rename the 2nd column to Rank
for year in range(2008, 2024):
    eval(f'end_strength_{year}').rename(columns={eval(f'end_strength_{year}').columns[1]: 'Rank'}, inplace=True)



# replace rank values with O10, O9, O8, O7, O6, O5, O4, O3, O2, O1, W5, W4, W3, W2, W1, E9, E8, E7, E6, E5, E4, E3, E2, E1
# O11 coincides with the first row of the dataframe, O10 with the second, etc.

for year in range(2008, 2024):
    ranks = ['O10', 'O9', 'O8', 'O7', 'O6', 'O5', 'O4', 'O3', 'O2', 'O1', 'W5', 'W4', 'W3', 'W2', 'W1', 'E9', 'E8', 'E7', 'E6', 'E5', 'E4', 'E3', 'E2', 'E1']
    for i in range(len(ranks)):
        eval(f'end_strength_{year}').loc[i, 'Rank'] = ranks[i]


for year in range(2008, 2024):
    # Construct the variable name for the dataframe
    dataframe_name = f'end_strength_{year}'

    # Access the dataframe using the globals() function
    df = globals()[dataframe_name]

    # Apply the operations
    df.drop(columns='Year', inplace=True)
    df = df.transpose()

    # Rename columns to the first row of the dataframe
    df.columns = df.iloc[0]

    # Drop the first row
    df.drop(index='Rank', inplace=True)

    # Add the year column
    df['year'] = year

    # Reset the index
    df.reset_index( inplace=True)

    # Rename the index column to Service
    df.rename(columns={'index': 'agency'}, inplace=True)

    df.reset_index(drop=True, inplace=True)

    # reorder the columns so that year is at the beginning
    column_order = ['year', 'agency', 'O10', 'O9', 'O8', 'O7', 'O6', 'O5', 'O4', 
                    'O3', 'O2', 'O1', 'W5', 'W4', 'W3', 'W2', 'W1', 'E9', 'E8', 'E7', 
                    'E6', 'E5', 'E4', 'E3', 'E2', 'E1']
    
    df = df[column_order]

    # Convert agency values to match survey values
    df['agency'].replace('Army', 'AR', inplace=True)
    # NV is the sum of navy and marine corps
    df['agency'].replace('Navy', 'NV', inplace=True)
    df['agency'].replace('Marine Corps', 'NV', inplace=True)
    df['agency'].replace('Air Force', 'AF', inplace=True)
    df['agency'].replace('Space Force', 'AF', inplace=True)

    # Group by agency and year and sum the values
    df = df.groupby(['agency', 'year']).sum()

    # Reset the index
    df.reset_index(inplace=True)


    # Update the dataframe in the global scope
    globals()[dataframe_name] = df

#print test df
print(end_strength_2023.head(7))

Rank agency  year  O10  O9  O8   O7    O6    O5     O4     O3  ...    W1  \
0        AF  2023   13  44  74  134  3399  9786  14565  22414  ...     0
1        AR  2023   15  44  95  113  3654  8695  15967  26755  ...  4065
2        NV  2023    9  44  83  141  3841  8527  14544  24395  ...   286

Rank    E9     E8     E7     E6     E5      E4     E3     E2     E1
0     2586   4872  24616  42056  57183   65433  45425   7827   8361
1     3479  10266  36343  58119  68326  103848  44068  20287  11735
2     4487  11027  30918  62636  94294   85063  79643  29337  26592

[3 rows x 26 columns]

In [286]:
# combine all of the end strength dataframes into one dataframe
all_end_strength = pd.concat([end_strength_2008, end_strength_2009, end_strength_2010, end_strength_2011,
                                end_strength_2012, end_strength_2013, end_strength_2014, end_strength_2015,
                                end_strength_2016, end_strength_2017, end_strength_2018, end_strength_2019,
                                end_strength_2020, end_strength_2021, end_strength_2022, end_strength_2023],
                                ignore_index=True)

all_end_strength.head()

Rank,agency,year,O10,O9,O8,O7,O6,O5,O4,O3,...,W1,E9,E8,E7,E6,E5,E4,E3,E2,E1
0,AF,2008,11,35,100,147,3538,10148,14053,22734,...,0,2590,5178,26172,42135,69216,48199,47746,6493,10363
1,AR,2008,12,54,84,168,4255,9432,15387,25936,...,3234,3560,11952,40019,64298,84528,126726,63130,35063,22789
2,NV,2008,14,55,93,156,3947,8608,13845,22709,...,212,4323,10372,30996,63565,94867,91095,83868,42073,32345
3,AF,2009,14,39,106,156,3676,10082,14045,23364,...,0,2642,5178,26159,41505,68942,51886,48909,7379,10747
4,AR,2009,11,52,98,168,4359,9662,15837,27027,...,2960,3541,12231,41048,65718,83653,135107,67293,34349,15280

In [287]:
# join the all_surveys and all_end_strength dataframes on agency and year
all_surveys = all_surveys.merge(all_end_strength, how='left', on=['agency', 'year'])
all_surveys.head()

,year,agency,my_work_experience,my_work_unit,my_organization,my_supervisor,leadership,my_satisfaction,employee_experience,circumstantial,...,W1,E9,E8,E7,E6,E5,E4,E3,E2,E1
0,2010,AF,2.894737,3.111111,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2609.0,5208.0,26445.0,41848.0,70172.0,49295.0,52462.0,6225.0,9171.0
1,2010,AF,4.052632,2.555556,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2609.0,5208.0,26445.0,41848.0,70172.0,49295.0,52462.0,6225.0,9171.0
2,2010,AF,3.526316,3.000000,3.0,3.9,3.5,3.0,4.066667,NaN,...,0.0,2609.0,5208.0,26445.0,41848.0,70172.0,49295.0,52462.0,6225.0,9171.0
3,2010,AF,5.000000,4.222222,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2609.0,5208.0,26445.0,41848.0,70172.0,49295.0,52462.0,6225.0,9171.0
4,2010,AF,3.684211,3.444444,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2609.0,5208.0,26445.0,41848.0,70172.0,49295.0,52462.0,6225.0,9171.0